[2012-01-04 17:07] tlazaro opened #2 "Install instructions issue"
The Readme says:

"Add the following to your ~/.sbt/plugins/build.sbt:"

The 'ensime' command works for new sbt projects but it doesn't for my existing ones. It can't be found.

By adding those lines to ~/.sbt/plugins.sbt I solved the issue. The 'ensime' command is now available to all my projects.

I'm not sure if that's an error or it's just that I'm missing something else needed to be done.

[2012-01-05 14:08] #2 closed, assigned to nobody

[2012-03-13 18:17] JanxSpirit opened #3 "Cross build for 2.9.1-1"
I was just trying to do a local build against 2.9.1-1 and got it to work in a sort of hacky way by copying the Compat.scala and munging the lift-json dependency to force it to use the 2.9.1 version - also updated to v. 2.4.

I can make do with this pushed to our local artifactory, but if you want to publish a 2.9.1-1 build to central, others might be able to make use of it. Cheers!

[2012-03-14 18:43] #3 closed, assigned to nobody

[2012-03-27 12:35] ghost opened #4 "add :root-dir to .ensime [renamed]"
Hi,

The plugin wrap the configuration in a :subprojects key but don't set :root-dir and :active-subproject (as emacs ensime plugin do in ensime-config.el, functions ensime-config-load and ensime-config-maybe-set-active-subproject)
The result is when we want to use ensime via Swank protocol, there is no active subproject and the root dir is taken from the place where ensime server was executed, so

[2012-04-24 11:04] wfaler opened #5 "Does not work with custom projects (project/Build.scala)"
From what I can gather, ensime-sbt-cmd does not seem to work with custom and multi-module projects that use a project/Build.scala instead of a build.sbt file.

Is there any way of making this work, or is this a current bug/missing feature?

[2012-04-24 12:25] #5 closed, assigned to nobody

[2012-05-08 13:56] dcsobral opened #6 "SBT 0.11.3 support"
Just a reminder.

[2012-05-08 22:46] andresilva opened #7 "Download classifiers"
I'm not sure if this belongs here or not. But it would be a cool feature if ensime tried to download classifiers
(javadoc and sources) when generating a new ensime file based on sbt. This is done by the sbt-idea plugin.

[2012-05-09 11:33] ritschwumm opened #8 "does not compile due to missing Compat"
i guess this line is to blame:
https://github.com/aemoncannon/ensime-sbt-cmd/blob/master/.gitignore#L33

[2012-05-10 03:48] #8 closed, assigned to nobody

[2012-05-10 04:02] #6 closed, assigned to nobody

[2012-05-22 05:17] Vadi opened #9 "Sbt plugin does not download from repository"
As mentioned here in user manual of ensime (http://aemon.com/file_dump/ensime_manual.html#tth_sEc3.1) the sbt plugin is not downloading. I think the url where JAR file located is https://oss.sonatype.org/content/repositories/snapshots/org/ensime/ensime-sbt-cmd_2.9.1_0.11.2/0.0.7-SNAPSHOT/ however I am using SBT 2.7.7 with Plugins.scala change. Any help is great. I know this is a very newbie stuff,

[2012-05-23 15:51] #9 closed, assigned to nobody

[2012-06-07 18:00] SethTisue opened #10 "sbt 0.12 support"
now that sbt 0.12.0-RC1 is out, it might be time?

using the 0.11.3 version with 0.12.0-RC1 doesn't work:

[code]

[2012-06-12 11:41] #10 closed, assigned to nobody

[2012-08-07 16:16] andresilva opened #11 "Wrong version on Readme"
Hi,

The latest version shown on the readme file is 0.0.11 but you published your last version as 0.1.0.

Cheers.

[2012-08-07 19:21] #11 closed, assigned to nobody

[2012-08-10 15:46] bretthoerner opened #12 "Documentation needs update to reflect use of "dump"?"
[code]

Is generate supposed to work still? It prints info about `dump` but I can't seem to figure out how to work it, either.

[2012-08-10 22:17] #12 closed, assigned to nobody

[2012-12-05 22:29] velvia opened #15 "Scala 2.10 builds"
Scala is already at 2.10.0-RC3, isn't it time to publish artifacts for 2.10?   I can't find them on the typesafe repo or maven central.

[2012-12-05 22:59] #15 closed, assigned to nobody

[2012-12-20 19:39] chiappone opened #16 "Doesn't seem to work with upper case project name"
Looks like there is a but with the generator if you your project contains uppercase letters.  When the .ensime file gets created the :module-name attribute does not keep the uppercase for some reason.

[2013-02-26 17:58] hedefalk opened #18 "unpack source-jars of managed deps?"
Hi,

By http://stackoverflow.com/questions/13170953/using-ensime-sbt-to-browse-scala-library/13172079#13172079 I get the understanding that :reference-source-roots only catches exploded source-trees, right?

I'm trying to move away from Eclipse where I used both Maven and sbt-eclipse where I automatically get the attached source for all my dependencies. I would really like to have something like t

[2014-04-26 14:46] fommil opened #20 "too many dependencies being generated"
my project has far too many dependencies in the .ensime file

https://github.com/fommil/lions-share/blob/ensime/.ensime

For example, the "agent" module is a pure Java project with only one jar dependency. But all the SBT internal jars are being added (which includes pulling in Scala).

[2014-05-17 20:43] markschaake opened #21 "Plugin version 0.1.3 not available"
When trying to install via directions on the README, SBT fails to find the plugin version 0.1.3.

[code]

does not work. This does:

[code]

Is this a documentation error? Or a failure to publish?

[2014-06-16 20:41] fommil opened #23 "publish snapshots"
(and potentially a new release)

The new source.jar support is really fantastic and worth a release, especially to work with sbt 0.12 like ensime uses.

This would be the workaround if it compiled:

[code]

[2014-06-16 20:51] #23 closed, assigned to nobody

[2014-06-16 20:53] fommil opened #24 "a final sbt 0.12.x release"
ensime is using the 0.12 version of sbt, so it would be good to have a `.ensime` generator that worked for the master codebase.

Once we have multiple branches for ensime, the build script should become significantly simpler and we can then use the latest sbt release.

[2014-06-17 08:34] #24 closed, assigned to nobody

[2014-06-17 08:53] #18 closed, assigned to nobody

[2014-06-17 09:44] fommil opened #25 "add java/scala sources"
(when the `-s` flag is used)

and don't add

[code]

which is the current behaviour.

Java sources can be assumed as `JAVA_HOME/src.zip` (people with non-standard setups can customise this) and Scala stdlib sources should be obtainable from the sbt artefact.

[2014-06-18 10:49] fommil opened #27 "test/runtime deps should not explicitly re-list compile-deps"
and probably shouldn't have the `target` jar file, either! It really confuses the indexer.

[2014-06-20 12:14] #7 closed, assigned to nobody

[2014-06-20 18:51] #21 closed, assigned to nobody

[2014-06-21 08:59] fommil opened #29 "generate a separate '.ensime_project' for the (sbt) project definition"
which contains the sbt/plugins classpath, allowing for really easy hacking of build.scala files.

[2014-07-02 09:52] fommil opened #32 "append `:java-flags` from current sbt process"
consider a user that adds java args to the SBT process to increase the heap size to build their project. Chances are they want those to flow to the ensime server process.

[2014-07-02 09:54] fommil opened #33 "pass compiler plugins to the .ensime"
this is the sbt plugin side of the server side feature request https://github.com/ensime/ensime-server/issues/476

[2014-07-04 07:06] fommil opened #35 "Move to sonatype"
Bintray is basically shit

[2014-07-04 09:27] #33 closed, assigned to nobody

[2014-07-06 18:12] justinhj opened #36 "Cannot install plugin"
Added the following to my plugins in ~/0.13

resolvers +=
  "Sonatype releases" at "https://oss.sonatype.org/content/repositories/releases"
addSbtPlugin("org.ensime" % "ensime-sbt" % "0.1.4")

But it won't install because of scala version (I think)

[warn]  Note: Some unresolved dependencies have extra attributes.  Check that these dependencies exist with the requested attributes.
[warn]      org.

[2014-07-06 22:29] #36 closed, assigned to nobody

[2014-07-07 13:38] jayka opened #37 "incorrect documentation in ensime-sbt readme"
Readme says ensime-sbt
addSbtPlugin("org.ensime" % "ensime-sbt" % "VERSION")

However for 0.1.4 only this works
addSbtPlugin("org.ensime" % "ensime-sbt-cmd" % "VERSION")

[2014-07-07 16:03] #37 closed, assigned to nobody

[2014-07-07 20:48] #35 closed, assigned to fommil

[2014-07-09 21:01] fommil opened #40 ":scala-version must be minor release for 2.9.x"
naming convention is to include the full version for 2.9.

Current output is incompatible with ensime-emacs and ensime-server.

[2014-07-09 21:02] fommil opened #41 "project :name"
current behaviour produces a single subproject with a name for simple projects, but no project name. this means the buffer in emacs is called `NO_NAME`

[2014-07-11 12:19] #40 closed, assigned to nobody

[2014-07-11 18:23] fommil opened #43 ":scala-version should be project level, not subproject"
https://github.com/ensime/ensime-server/issues/506

[2014-07-13 20:54] #41 closed, assigned to nobody

[2014-07-13 20:54] #43 closed, assigned to nobody

[2014-07-13 22:35] #25 closed, assigned to nobody

[2014-08-07 21:56] rorygraves opened #47 "Update to pass the scalariform flags"
The code exists on the server side, but the plugin does not export the flags.
Will need to depend on scalariform to force it to always be in scope (so there are always default settings).

[2014-08-18 16:37] mcandre opened #49 "Tag 0.1.4, with README pointing to ensime-sbt-cmd"
Please tag version 0.1.4, pointing users to the [ensime-sbt-cmt](http://search.maven.org/#search|ga|1|ensime) package in the README, instead of the `ensime-sbt` package. This helps uses who, for whatever reason, cannot use snapshots. And semver is good form.

[2014-08-18 16:44] #49 closed, assigned to nobody

[2014-08-18 18:11] mcandre opened #50 "Tag 0.1.1 for scala 0.12 users"
Users on scala 0.12 are stuck with ensime-sbt 0.1.1, so a tag would be helpful for navigating to the appropriate version of the README instructions (e.g., `-s` wasn't supported back then).

[2014-08-18 18:20] #50 closed, assigned to nobody

[2014-08-19 17:40] #16 closed, assigned to nobody

[2014-08-19 17:40] #20 closed, assigned to nobody

[2014-08-19 17:40] #27 closed, assigned to nobody

[2014-08-19 17:40] #32 closed, assigned to nobody

[2014-08-19 17:40] #47 closed, assigned to nobody

[2014-08-20 14:57] braje opened #52 "No artifacts for scala 2.11"
I am trying to use ensime-sbt on a scala 2.11 project and can't resolve the artifact.  It doesn't seem to be there.  I see many instances of people saying they are running ensime on 2.11 projects, so I am perhaps missing something, but the artifact does seem to be missing from sonatype.

Thanks for the help.

![ensime-missing-artifact](https://cloud.githubusercontent.com/assets/593867/3982833/0312

[2014-08-20 15:19] #52 closed, assigned to nobody

[2014-08-20 23:35] markschaake opened #53 "Migrate to AutoPlugin API [renamed]"
I've seen this behavior before in our plugins when we used to publish to Sonatype. The solution was to publish to Bintray. Can't tell you exactly why (because I couldn't figure it out)... but what I found was that publishing sbt plugins locally worked fine, but when published to Sonatype would cause SBT to seemingly downgrade to a verison pre 0.13.5 - which would cause an error when you use featur

[2014-08-24 23:22] #4 closed, assigned to nobody

[2014-08-27 16:02] weeshy opened #56 "the plugin ignores sourcesInBase setting"
The plugin ignores _sourcesInBase_ setting. I activate this setting in the build.sbt and sbt works normally with sources located directly inside base folder. All scala files are added to the _unmanagedSources_ in the _Compile_ configuration. But ensime has not access to this files, it completly ignores them. Package Inspector misses the files and using any ensime command inside buffer give "Not Co

[2014-08-30 22:46] #53 closed, assigned to nobody

[2014-09-02 06:29] rorygraves opened #57 "plugin generates invalid name"
The project name comes out as :

[code]

rather than the name of the project (in this case 'simple' from the intg test project).

[2014-09-02 08:21] fommil opened #58 "runtimeDeps should be merged with compileDeps in ProjectConfig.scala"
https://github.com/ensime/ensime-server/issues/567

[2014-09-02 13:33] #57 closed, assigned to fommil

[2014-09-02 13:33] #58 closed, assigned to fommil

[2014-09-10 20:43] betehess opened #60 "Incompatible with auto-magic Play projects"
I am trying `0.1.5-SNAPSHOT` as explained in the documentation. After setting up my `ensime.sbt`, I try to get into my project, but sbt fails with:

[code]

So I publishLocal `ensime-sbt` myself (using https://github.com/ensime/ensime-sbt/commit/58e59727a67e3c5f9b4b1f2350316add77ae37d4), then go into my project, and try `gen-ensime`. It does a bunch of stuff and fails with

[code]

I have tried af

[2014-09-12 15:51] #60 closed, assigned to nobody

[2014-09-15 18:51] betehess opened #61 "java.util.NoSuchElementException: key not found"
`gen-ensime` crashes when the two following conditions are met:
- `fooBar` module's name is different from `"fooBar"`
- module `baz` depends on `fooBar`

I can reproduce this issue with the following `build.sbt`:

[code]

I am currently using master, locally built. My `.sbt` is empty but with the dependency on ensime itself. All other sbt commands work fine.

[2014-09-16 15:11] #61 closed, assigned to nobody

[2014-09-17 15:47] RafalBabinicz opened #64 "Generate .ensime files for project with sbt older than 0.13.5+ (AutoPlugin)?"
How can I generate .ensime file for project
with sbt.version=0.12.4 in build.properties?
#### Details:

Such crazy projects are provided
at „Functional Programming Principles in Scala” course at Coursera:
http://spark-public.s3.amazonaws.com/progfun/assignments/example.zip

Unfortunately updating sbt.version to 0.13.5 is a Pandora's box of
compilation errors and dependency hell.

I tried to use de

[2014-09-17 16:37] #64 closed, assigned to nobody

[2014-09-21 22:50] kostafey opened #65 "Port ensime-sbt to sbt 012.x"
How to use `ensime-sbt` for `sbt 0.12.4` and `scala 2.10.4`?

[2014-09-23 03:53] sutram opened #66 "Plugin ignores jar files in lib directory"
I have jar files within the lib directory under project root that seem to be ignored when I run gen-ensime
This is with plugin 0.1.5-SNAPSHOT

Thanks.

[2014-09-28 15:34] anildigital opened #68 "Doesn't pick sbt plugin from ~/.sbt/0.13/plugins/plugins.sbt but picks from /project/plugins.sbt"
Noticed when I put

[code]

in ~/.sbt/0.13/plugins/plugins.sbt. It doesn't respect that for my existing project.

But when I add that code in /project/plugins.sbt

It does respect that.

sbt launcher version 0.13.6

[2014-09-28 15:42] anildigital opened #69 "unresolved dependency: org.ensime#ensime-sbt;0.1.5-SNAPSHOT"
I also get for the mentioned settings

[code]

[2014-09-28 19:11] #69 closed, assigned to nobody

[2014-09-28 19:12] #68 closed, assigned to nobody

[2014-10-03 18:54] fommil opened #70 "java sources not detected if JAVA_HOME not set"
we should have some smarter logic for java source detection.

[2014-10-04 11:12] #65 closed, assigned to edani

[2014-10-07 20:53] #70 closed, assigned to nobody

[2014-10-09 02:24] rafael opened #73 "Not a valid key: gen-ensime"
Hi all,

I've been using ensime for a while it has been working nicely. However, today I was having an issue with an specific project and tried to install the ensime-sbt plugin from my local with sbt plublishLocal and now it doesn't seem to find it, I always get this error:

[code]

and my plugins.sbt has the following:

[code]

[code]

Any idea why this might be happening ?

Thanks!

[2014-10-09 06:17] codekingplusplus opened #74 "Weird characters in sbt console after hitting [TAB] for auto-complete"
Hi all,

I am getting strange characters when I execute `console` inside `ensime-sbt`. If I create a list like:

`val li = List(1,2,3)` and then do `li.[TAB]`   (note that [TAB] means I hit the tab key to get a list of auto-completes.) I get the following weird characters in my buffer:

scala> li.[8G

What is going on here, and how can I fix this?

Thanks for all the help!

[2014-10-09 09:28] #74 closed, assigned to nobody

[2014-10-09 09:30] #73 closed, assigned to nobody

[2014-10-14 08:16] #66 closed, assigned to nobody

[2014-10-16 08:10] kostafey opened #76 "Backport for sbt 0.12.x user instructions"
Once again about creating `.ensime` for `sbt 0.12.x` (0.12.4 in my case).
The configuration is:

`1`. Create file `~/.sbt/0.12.x/plugins/plugins.sbt` with contents:

[code]

`2`. Create file `~.sbt/0.12.x/project/ensime.sbt` with contents:

[code]

`3`. Run `sbt gen-ensime` inside project folder.
In my case this leads to the following output:

[code]

What is I'm doing wrong?
I've noced, that I ca

[2014-10-17 08:24] #76 closed, assigned to nobody

[2014-10-20 17:09] rafael opened #78 "Import the type under the cursor (C-c C-r t) issue"
Hi all -

I updated my ensime-sbt about two weeks ago, since then I've been having issues to import types. Every time I try, emacs hangs and I need to abort the command (C-g). Any ideas about what might be causing this issue?

I'm seeing the following in the inferior ensime process:

[code]

Thanks much!

[2014-10-20 17:40] #78 closed, assigned to nobody

[2014-10-22 09:23] #56 closed, assigned to nobody

[2014-10-22 09:24] #29 closed, assigned to nobody

[2015-08-28 08:28] fommil opened #88 "generate a separate '.ensime_project' for the (sbt) project definition"
_From @fommil on October 22, 2014 9:24_

which contains the sbt/plugins classpath, allowing for really easy hacking of build.scala files.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26270394-generate-a-separate-ensime_project-for-the-sbt-project-definition?utm_campaign=plugin&utm_content=tracker%2F239453&utm_medium=issues&utm_sou

[2015-08-28 08:28] fommil commented on #88
@jsuereth you asked which sbt tickets in ENSIME we could use help with and this one definitely confuses me :smile: All open SBT plugin tickets are here but the others aren't nearly as confusing https://github.com/ensime/ensime-server/issues?q=is%3Aopen+is%3Aissue+label%3Asbt-plugin

[2015-08-28 08:28] fommil commented on #88
_From @jsuereth on June 15, 2015 13:24_

Ok, so let's walk through this a bit.

First off, the key you need to investigate how sbt is building things:

[code]

This will give you all the gory details of our build (or builds, as is the case).

**Note:  Sbt may have more than one build definition loaded, each with its own classpath of sorts (actually these get merged, but that's an implementation re

[2015-08-28 08:28] fommil commented on #88
thanks! :smile:

[2015-08-28 08:28] fommil opened #89 "sbt debugging launcher"
_From @fommil on January 20, 2015 21:30_

http://stackoverflow.com/questions/26851495

https://groups.google.com/d/msg/sbt-dev/bHOwIVKB9gM/GGHBWKptCzYJ

So this is to add support for `module:jdb-test` style syntax in our sbt-plugin, which would allow the client to launch the debugger and attach all in one convenient keybinding.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty o

[2015-08-28 08:28] fommil commented on #89
some good responses in SO from josh and eugene! This might involve an emacs component for easy debugging launch.

[2015-08-28 08:28] fommil opened #90 "add fun tests to .ensime"
_From @fommil on July 24, 2015 17:14_

If the project has custom test phases, they are not currently picked up by our sbt plugin.

@jsuereth any ideas how we can do this?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24898545-add-fun-tests-to-ensime?utm_campaign=plugin&utm_content=tracker%2F239449&utm_medium=issues&utm_source=githu

[2015-08-28 08:28] fommil commented on #90
code here, for your reference:

https://github.com/ensime/ensime-sbt/blob/master/src/main/scala/EnsimePlugin.scala

[2015-08-28 08:29] fommil opened #91 "at org.ensime.jerk.JerkConversions$fresh$macro$604$1.inst$macro$601(JerkFormats.scala:40) --- i.e. output a minimal stack size in jvm flags"
_From @fommil on August 21, 2015 9:39_

it seems that the ensime server now requires more stack than the default typesafe sbt config script gives a fresh project. Therefore we'll need to make sure that the `.ensime` config has some java flags that are a bare minimum to start the server.

Doing it in the `.ensime` generation phase means that we solve the problem in one place for all editors.

<boun

[2015-08-28 08:29] fommil commented on #91
I should say that the workaround is to add `-Xss2m` to the `:java-flags` in all generated `.ensime`.

[2015-08-28 08:32] fommil opened #92 "move the usage documentation to this README"
currently only in the ensime-emacs wiki, it makes a lot of sense to move the docs here so that all front-ends can just reference it along with all the other build tool plugins.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26270462-move-the-usage-documentation-to-this-readme?utm_campaign=plugin&utm_content=tracker%2F239453&utm_medi

[2015-09-01 10:50] fommil opened #93 "append default compiler warnings"
It would be good if we automatically added a bunch of default `:compiler-args` warnings to the presentation compiler, even if the main build doesn't have them, as per https://github.com/ensime/ensime-server/issues/1080

e.g.

[code]

and for scala 2.11 also

[code]

This means a lot more orange squigglies for people and better code quality all around.

<bountysource-plugin>
---
Want to back this i

[2015-09-01 13:44] fommil commented on #91
http://www.scala-sbt.org/0.13/tutorial/Manual-Installation.html forces `-Xss1M` so we can override that.

[2015-09-01 13:55] aemoncannon commented on #93
Last time I checked the pres compiler wouldn't support a lot of extended
options, YMMV

On Tue, Sep 1, 2015 at 5:50 AM, Sam Halliday <notifications@github.com>
wrote:

[2015-09-01 13:57] fommil commented on #93
@aemoncannon it seems to work quite well these days! Probably breaks for 2.9 but I'm seeing at least some of them work in 2.10 and 2.11.

[2015-09-01 14:38] fommil commented on #90
https://github.com/JetBrains/intellij-scala/issues/198

[2015-09-01 14:52] fommil commented on #89
hmm, looking at the proposed solution again, it is a bit clunky to create a separate `Configuration` to complement the existing ones just to launch a debugger.

[2015-09-01 16:39] #89 closed

[2015-09-01 16:39] #90 closed

[2015-09-01 16:39] #91 closed

[2015-09-01 16:56] #93 closed

[2015-09-01 19:42] fommil commented on #88
@jsuereth thanks for your help above, it is invaluable. I think I can use this to get the classpath, but for ensime we also need the source and javadoc jars. How can I get those for each `sbt.LoadedBuildUnit` ?

[2015-09-01 19:51] fommil commented on #88
https://github.com/JetBrains/sbt-structure/blob/master/extractor/src/main/scala/org/jetbrains/sbt/extractors/BuildExtractor.scala#L25 seems relevant

[2015-09-01 19:59] fommil commented on #88
leads to https://github.com/JetBrains/sbt-structure/blob/master/extractor/src/main/scala/org/jetbrains/sbt/extractors/Extractor.scala#L27

[2015-09-01 22:01] fommil commented on #88
Finally!

[2015-09-01 22:01] #88 closed

[2015-09-02 13:35] fommil opened #98 "extract the scalacOptions for the -meta project"
i.e. http://stackoverflow.com/questions/32353251

[2015-09-02 14:05] #92 closed

[2015-09-09 23:22] leftofnull opened #100 "Sonatype/Maven repos don't resolve"
Getting 404 on the [jar](https://repo1.maven.org/maven2/org/ensime/ensime-sbt/0.1.7/ensime-sbt-0.1.7.jar) and 404 on the [pom](https://repo1.maven.org/maven2/org/ensime/ensime-sbt/0.1.7/ensime-sbt-0.1.7.pom). It does appear [on the search](http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22org.ensime%22%20AND%20a%3A%22ensime-sbt%22) properly though.

<bountysource-plugin>
---
Want to back this iss

[2015-09-10 07:03] fommil commented on #100
Try nuking your caches and try again. Create a test repo if it continues.

[2015-09-10 07:03] #100 closed

[2015-09-10 07:04] fommil commented on #100
This might be a maven central transient error.

[2015-09-25 20:57] djspiewak opened #103 "Plugin should *not* change cancelable value"
There's a reason that `cancelable` is `false` by default.  There are a huge number of situations where it just doesn't behave properly, even within the ensime-sbt plugin itself!  For example, I just tried to <kbd>ctrl</kbd>-<kbd>c</kbd> out of a hanging `gen-ensime` and it didn't work (I'm relatively certain because of ivy issues).  More generally, there are a large number of non-ensime scenarios

[2015-09-25 22:55] fommil commented on #103
Interesting. I guess I was thinking along the lines of when fork is true, it which case it would exit for tests. Is there any case where setting this to true actually changes the semantics such that it breaks what the user expects? The point is that c-c should break a running main or test, not that it should work globally.

[2015-09-25 23:09] fommil commented on #103
C-c is extremely important when running with debugging enabled, so perhaps we could weaken what we're doing to force cancellable:=true when debugging is enabled, and return to the user's setting when debugging in disabled. How about that?

[2015-09-25 23:10] djspiewak commented on #103
@fommil Even with `fork` is true, in my experience, it just raises an interrupt in whatever the active thread is in the tests.

I don't think you can change the value of setting keys dynamically in the manner you describe.  I honestly think you're better off creating an `Ensime` scope and setting `cancelable` to `true` in that scope.

[2015-09-25 23:41] fommil commented on #103
You sure about fork? In my experience it sends KILL signals. It's a *terrible* under experience if C-c doesn't work when running in debugging and wanting to end the session. If we could capture C-c in that one scenario and Do The Right Thing, I'd be happy to revert the cancellable.

[2015-09-26 09:53] fommil commented on #103
But it any case, did you get any further than this with your project? Did you give sublime a try? :-) if you encountered any problems, send a ticket with a link to the project and we'll take a look.

[2015-09-27 19:47] fommil commented on #103
if this is blocking you from using ensime-sbt, we could consider reverting the `cancelable` setting and then putting a note in the install instructions. Also assigning all future tickets regarding this to you :stuck_out_tongue:

[2015-10-01 15:34] caente opened #104 "conflicts with scalariformat"
Hi, in our codebase we keep the formatting of the source code with scalariformat, but when the sbt-plugin is present, and we call scalariformat from sbt, it formats the source code according to some "hidden" parameters, are you aware of that? How can I shut it off?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27091492-conflicts-wi

[2015-10-01 20:37] rorygraves commented on #104
Hi @caente I suspect this comment is relevent:
https://github.com/ensime/ensime-sbt/blob/master/build.sbt#L21

It sounds like there might be a scalariform version issue - I know for a fact there are multiple versions with breaking changes wrt to default formatting.

[2015-10-01 23:23] fommil commented on #104
I have a ticket with scalariform to address this. Upstream bug.

[2015-10-01 23:23] #104 closed

[2015-10-01 23:31] fommil commented on #104
Specifically this, please vote for the accompanying PR and get an many people an you can to jump in as well https://github.com/daniel-trinh/scalariform/issues/29 Also note my post on the scala-ide list, and additionally request @mdr to hand the repo over to an admin of scala-ide or ENSIME.

[2015-10-01 23:39] fommil commented on #104
This is the PR: https://github.com/daniel-trinh/scalariform/pull/80

Tweet it, pile in on the scala-ide discussion, spam @mdr... Scalariform ownership to importance ratio is a mess.

[2015-10-04 00:23] drozzy commented on #73
I am getting this problem currently. Running Win10, sbt version 0.13.8 and my ~/.sbt/plugins/plugins.sbt looks like:

    resolvers += Resolver.sonatypeRepo("snapshots")

    addSbtPlugin("org.ensime" % "ensime-sbt" % "0.2.0")

[2015-10-04 07:29] rorygraves commented on #73
@drozzy Can you confirm what you type and what you see as well as your sbt version please?

[2015-10-04 07:52] edani commented on #73
@drozzy   For sbt 0.13, the filename should be `~/.sbt/0.13/plugins/plugins.sbt`

[2015-10-07 21:23] smartinsightsfromdata opened #105 "')' expected but double literal found. What should I do??"
I've installed ensime today (For SublimeText 3)  but I get this error when I start `sbt gen-ensime` in a project root and I'm not sure what to do.

I've installed `ensime-sbt` as per instructions:
[code]
Then at the project root I run `sbt gen-ensime` but I get an error.
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27243263

[2015-10-07 21:43] rorygraves commented on #105
I suspect if you open your plugins.sbt it does not contain the text
```addSbtPlugin("org.ensime" % "ensime-sbt" % "0.2.0")```
but some variation due to the quoting of your echo command.

If this is not the issue can you please paste your plugins.sbt file?

[2015-10-07 22:13] smartinsightsfromdata commented on #105
smashing!  I didn't have any quotes.  Many thanks!!

[2015-10-07 22:13] #105 closed

[2015-10-20 10:12] greenrd opened #106 "debugging command can be applied twice"
If you mistakenly invoke the `debugging` command after you've already done it, duplicate debugging options are added to the JVM options, which means the forked JVM won't start, so you have to invoke `debugging-off` - not once, but twice.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27546681-debugging-command-can-be-applied-twice?u

[2015-10-20 10:33] fommil commented on #106
Yes it's been designed to be stateful because SBT is awesome and this is the only way to do it. However, we shouldn't be adding flags twice. I thought we actually checked for that case. Do you have an example of a project on github that exhibits this?

[2015-10-20 20:25] fommil commented on #106
This is where the magic happens, a PR in this area would be welcome https://github.com/ensime/ensime-sbt/blob/master/src/main/scala/EnsimePlugin.scala#L97

[2015-10-20 20:26] fommil commented on #103
@djspiewak is this still putting you off ensime? I was thinking I might do as you suggest and then recommend people set it manually. Any idea what the magic command word be the do this globally? Is it an 'in ThisBuild' thing?

[2015-10-26 19:39] omarimayerswalker opened #107 "sbt gen-ensime Error"
When I trying to create a ```.ensime``` file I get the following error messages:

[code]
in my plugin directory I have the following code:
[code]
It is located here:
[code]
sbt version:  0.13.1
scala version: 2.10.4

Thanks for the help.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27711730-sbt-gen-ensime-error?utm_campaign=plugin

[2015-10-26 19:43] fommil commented on #107
check the README again

[2015-10-26 19:43] #107 closed

[2015-10-26 20:10] fommil opened #108 "add arbitrary sources and javadoc files to the updateClassifiers report"
_From @fommil on October 24, 2015 13:1_

which will make it a lot easier to hack on the Java Compile Tree API. Sources of the JDK are not distributed with the JDK, so you have to download (fixed snapshots) from http://download.java.net/openjdk/jdk8/ and then go into the `langtools/src/classes` directory and zip up the sources.

I expect that opt-in ENSIME developers would set an environment variab

[2015-10-26 20:10] fommil commented on #108
as a workaround, manually add the relevant tools source zip to the `:reference-source-roots` of `.ensime`

[2015-10-26 20:11] #103 closed

[2015-10-26 20:14] fommil commented on #106
ok, I see how this can happen. I'll have a fix soon.

[2015-10-26 20:19] #106 closed

[2015-10-26 21:33] #108 closed

[2015-10-26 21:35] fommil opened #110 "it's really slow on big projects!"
yeah, vote for https://github.com/sbt/sbt/issues/1930

[2015-10-27 07:05] avdv commented on #107
@fommil His setup looks good to me, exactly as outlined in the README. Do you see anything wrong?

@omarimayerswalker What's the output of `sbt about`? Does it list the EnsimePlugin as an available plugin? I think you might just as well try a release version, like "0.2.1", instead of a SNAPSHOT (you could drop the `resolvers += ...` line then).

[2015-10-27 07:10] fommil commented on #107
Version

[2015-10-27 11:23] omarimayerswalker commented on #107
@avdv I was using Fedora's scala/sbt package. After not getting anywhere with it all day I decided to uninstall it and use the latest versions of scala and sbt. Everything is working now.

[2015-10-31 12:42] fommil opened #111 "non-standard classifiers not included"
e.g.

[code]

will be skipped from the module.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27854694-non-standard-classifiers-not-included?utm_campaign=plugin&utm_content=tracker%2F239453&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=track

[2015-10-31 13:10] #111 closed

[2015-11-16 15:15] fommil opened #115 "refactor into one big file"
makes it a lot easier to use in projects in corporate environments. Installation instructions are then "either add this to `plugins.sbt`" or "copy this file to your `.sbt` directory".

[2015-11-17 17:10] fommil opened #116 "generate .ensime for a module and its dependencies"
useful for extremely large projects where you might want to ignore the vast majority of the build

[2015-11-17 17:12] fommil opened #117 "revisit performance"
is there a way to get the classifiers for each `(module, config)` without having to call the classifiersReport for each level, and for each phase? This is a major performance bottleneck for me, taking nearly an hour to run `gen-ensime` on my work project.

@eed3si9n any ideas on this?

[2015-11-17 17:15] fommil commented on #117
if its not possible to do this, we could have a "fast hack" option which basically creates a dummy module at the lowest level, containing all jars / javadocs / sources for all modules above it. That would mean running `updateClassifiers` exactly once.

[2015-11-28 18:21] fommil opened #119 "add extra field to the config for scala compiler jars"
scala-library, scala-compiler, scalap.

[2015-11-28 18:31] #115 closed

[2015-11-29 09:53] fommil opened #120 "integration tests"
I'm making some big changes soon, it'd be good to have an integration test against ensime-server (at least).

[2015-11-29 13:57] #120 closed

[2015-12-01 17:12] tysonjh opened #123 "ensime-sbt conflicts with project scalariform.sbt"
Since version 0.1.7 there has been a conflict between ensime-sbt and a project's sclariform.sbt file. Refer to test project: https://github.com/tysonjh/ensime-sbt-scalariform

Compiling the test project with 0.1.5 works fine. Compiling with 0.1.7, 0.2.0, 0.2.1 results in the following error,

.../test/src/main/scala/Test.scala:4: value % is not a member of (String, Int)
[error]     map += ("blah"

[2015-12-01 17:23] fommil commented on #123
https://github.com/mdr/scalariform/issues/137

[2015-12-01 17:23] #123 closed

[2015-12-01 18:10] fommil commented on #123
Workaround is to use source  install of ensime-sbt and then you can control exact versions. But check back for updates regularly (especially next few days, performance improvement coming). The compile failure sounds like a bug upstream. Please report this failure with daniel-trinh's fork of scalariform.

This whole scalariform things kills me. I've wasted so which time on it, all because the autho

[2015-12-01 21:26] tysonjh commented on #123
Thanks for the quick reply and workaround, much appreciated.

[2015-12-01 22:42] #117 closed

[2015-12-02 08:59] fommil opened #124 "all my code is reformatted!"
If you aren't using scalariform it's this:

* https://github.com/daniel-trinh/sbt-scalariform/issues/24

if you are using scalariform to reformat your code, then its this:

* happens if you were using https://github.com/sbt/sbt-scalariform
* caused by regressions introduced in https://github.com/daniel-trinh/scalariform and https://github.com/daniel-trinh/sbt-scalariform
* blocked on https://githu

[2015-12-02 09:00] fommil commented on #123
I created an FAQ about this at #124

[2015-12-02 14:22] fommil commented on #124
scalariform is in such a mess right now, I think maybe we should just not try to integrate with sbt-scalariform until it gets fixed. I'll fix this tonight.

[2015-12-02 21:29] fommil commented on #123
I'm removing our dependency on sbt-scalariform in the next release (tonight).

[2015-12-02 22:29] #124 closed

[2015-12-04 00:59] daniel-trinh commented on #124
Adding `addSbtPlugin("org.scalariform" %% "sbt-scalariform" % "1.5.1")` to a project is going to by default auto format your code, this is the current intended behavior. Can you elaborate what's going on here? One thing you could potentially do is to disable the sbt-scalariform plugin on the ensime project.

[2015-12-04 07:42] gaydenko commented on #124
@daniel-trinh , autoformatting conflicts with source editors: they treat it as external modification. Any reformatting must be explicitly started, I guess. In this sense, adding the plugin is just an adding the opportunity to format rather than a command to format.

Any unintentional opportunity of source modification is just a crime :)

[2015-12-04 07:44] fommil commented on #124
It's also a really big regression that catches people unawares.

[2015-12-04 08:14] daniel-trinh commented on #124
@gaydenko Adding the plugin and not having it auto format is a strange usecase for single build projects, since prior to adding autoplugin behavior, by adding sbt-scalariform to the project build, it would by default auto format. However I do see your point in multi project sbt builds, since some projects might not want scalariform enabled.

I think the simplest solution is to do one of the follow

[2015-12-04 08:31] gaydenko commented on #124
@daniel-trinh , sorry, I'm not aware of ensime-sbt mechanics. I guess @fommil is aware of everything :)

[2015-12-04 09:08] fommil commented on #124
@daniel-trinh I've disabled all dependency on `sbt-scalariform` now because this brought with it such a large regression. I'd like to depend on some version of `sbt-scalariform` so that we can automatically infer project-wide formatting settings but we can't do that until you release a version of `sbt-scalariform` that does not autoreformat.

In addition, `sbt-scalariform` should be able to handle

[2015-12-08 19:09] alex3kov opened #126 "Add a config option to specify a single .ensime_cache location common for all projects"
Those .ensime_cache dirs are pretty large and they are per-project.
Would it be possible to specify a single (per user) location in ~/.sbt/0.13/plugins/plugins.sbt via gen-ensime options? Reasons:
* Some projects use the same libraries, so it would de-duplicate things a bit;
* User might place this .ensime_cache directory on a faster disk;
* .ensime_cache directories in every project would get out

[2015-12-08 20:10] fommil commented on #126
Ha! Yeah, not going to happen. I can explain why if you're oat Scala exchange. PRW.

[2015-12-08 20:10] #126 closed

[2015-12-08 20:18] alex3kov commented on #126
Oh well. At least creating symbolic links to a different drive seems to work :)

[2015-12-08 20:34] fommil commented on #126
Good luck with that :-D it'll break in unexpected ways. Taking a note of your name :-P

[2015-12-10 15:31] fommil opened #127 "Rewrite tests to use scripted"
May require canonicalisation step of file paths

[2015-12-10 15:32] fommil opened #128 "Add extra system jars, e.g. ammonite to config file"
Would all clients to instantly spawn a power REPL without adding ammonite to their SBT config

[2015-12-18 15:38] fommil opened #129 "sbt config things"
a bunch of our `projectSettings` should really be `buildSettings` (e.g. compiler config) until we have one pres compiler per project

[2015-12-18 15:38] fommil commented on #129
and maybe we should use `Task` instead of `Command`. I might have enough foo now.

[2015-12-18 15:48] fommil commented on #129
and additional compiler flags should be a task

[2015-12-18 17:34] fommil commented on #129
and flags for the ignoring file scanning hack

[2015-12-30 13:41] fommil commented on #119
@lxol any preferences on the name of the key for the system jars? Maybe `:scala-jars` ?

[2015-12-30 14:18] lxol commented on #119
@fommil  `:system-deps` ?

[2015-12-30 14:20] fommil commented on #119
I prefer `:scala-compiler-jars` because it's self-describing. I don't know why I called these things system jars in the title.

[2015-12-30 14:25] lxol commented on #119
ok

[2015-12-30 14:45] fommil commented on #119
I'll try to do this over the next day or so

[2015-12-31 21:27] #129 closed

[2015-12-31 21:28] #127 closed

[2015-12-31 21:29] fommil commented on #98
WontFix

[2015-12-31 21:29] #98 closed

[2016-01-01 00:36] fommil commented on #119
WIP here https://github.com/fommil/ensime-sbt/blob/scala-compiler-jars/src/main/scala/EnsimePlugin.scala (not working yet)

[2016-01-01 08:42] fommil commented on #128
I'm not convinced that this belongs in ensime-sbt anymore.

[2016-01-01 08:42] #128 closed

[2016-01-01 08:43] fommil commented on #110
closing as upstream bug

[2016-01-01 08:43] #110 closed

[2016-01-01 08:44] #119 closed

[2016-01-01 08:45] fommil commented on #119
@lxol ok, the `:scala-compiler-jars` is now generated by the latest snapshot of `ensime-sbt`. I want to add one more feature then I'll make a maven central release.

[2016-01-01 10:43] #116 closed

[2016-01-01 10:44] fommil opened #136 "rename gen-ensime-meta to gen-ensime-project"
apparently we've been abusing the "meta" word and that is actually for `project/project`

[2016-01-01 11:01] #136 closed

[2016-01-01 21:25] gaydenko opened #138 "upgrading to 0.3.0 results in console flooding wrt versions differ"
Hi!

After switching to 0.3.0 sbt console lists dozens (as far as there are a set of subprojects) of warnings on every compilation:
[code]
It results in very unhandy console state. Is it possible to cure?

[2016-01-01 22:34] fommil commented on #138
Without a reproduction case, I can't help you.

[2016-01-01 22:42] fommil commented on #138
My guess is your build definition has a different `scalaVersion` for `settings` than individual `project`s. Until you can show otherwise, I'll close the ticket.

[2016-01-01 22:42] #138 closed

[2016-01-02 00:08] gaydenko commented on #138
@fommil , hi! I"m not sure what do you mean with "can show". I just used these to function to define raw and Play subprojects

[code]
where `private lazy val scalaInUse = "2.11.7"`.

The plugin is enabled globally (that is in `~/.sbt`). Commenting it out returns console output to expected state.

[2016-01-02 01:15] gaydenko commented on #138
@fommil , if you are saying about test-case, well, the situation is the same as with https://github.com/ensime/ensime-emacs/issues/300 - that is I don't know a way how to avoid an issue - any case will suit :) But to be sure, below I have a session for you :)
[code]

[2016-01-02 10:30] fommil commented on #138
I'm pretty sure we went through this the last time. You need to share a minimal project with us so that we can reproduce the problem. It works for all the projects in our test suite so the problem is specific to the way you set up your project, and until you share that with us nothing you say is helping me understand the problem any more.

[2016-01-02 10:31] fommil commented on #138
Is the project in your example publicly available?

[2016-01-02 10:44] fommil commented on #138
I can see https://github.com/gaydenko/sbt138 and can reproduce. I'm investigating.

[2016-01-02 10:54] fommil commented on #138
ok, problem is exactly what I guessed above: you define `scalaVersion` in `module` not in `settings`. Effectively you are defining a multi-scala version project.

This is not a bug in ensime-sbt, although if we discover that this is a common pattern, we may support it or add a piece of detection logic to warn users of what is happening.

I recommend you change your build config to, firstly,

[code

[2016-01-02 11:47] fommil commented on #138
the referenced PR will explicitly warn users if they are making the same mistake, and direct them here. I also implemented a workaround to try and do the right thing, in case this turns out to be a common pitfall. At the least, we'll alert people to their badly configured builds.

[2016-01-02 12:28] fommil commented on #138
@gaydenko please follow the instructions at https://github.com/ensime/ensime-sbt#troubleshooting to confirm that the snapshot works for you (and also fix your build).

[2016-01-02 16:29] gaydenko commented on #138
@fommil , yes, moving the settings to application level resolves the issue, thanks!

[2016-01-02 23:17] gaydenko commented on #138
@fommil , 0.3.1 (n0t 0.3.0) shows on `gen-ensime`:
[code]
while `scalaVersion` is moved to application build settings as you have suggested.

[2016-01-02 23:28] fommil commented on #138
@gaydenko unless you give a reproduction project, I can't help.

[2016-01-03 01:55] prassee opened #140 "Cannot add dependency 'org.scala-lang#scala-compiler;2.10.5' to configuration 'ensime-internal'""
**TL;DR** your build definition is broken, see proposed solution below.

-----

I'm getting this error while using ensime-sbt in plugin.sbt

[code]

I'm using 0.13.9 version of sbt

Here is my plugin.sbt

[code]

Here is the brief build.sbt

[code]

But it works fine when the build.sbt is changed to

[code]

I suspect if this is a enisime-sbt or build definition. Please help

[2016-01-03 02:04] #140 closed

[2016-01-03 02:20] fommil opened #141 "build.sbt projects getting erroneous error and missing scalacOptions"
The following simple project `build.sbt` triggers the "You have a different version of scala for your build and root project." error and the `scalacOptions` are not picked up for the `:compiler-args`

[code]

The corresponding `project/MyBuild.scala` **does** work in 0.3.0 but does not work in 0.3.1 so there is a regression (probably me adding all those `in ThisBuild` qualifiers in `EnsimePlugin.s

[2016-01-03 03:07] gaydenko commented on #141
@fommil , yes, exactly!

[2016-01-03 06:10] prassee commented on #141
Unfortunately , I still see this happening while I was on chat with @fommil  I told him that its working for a plain build.sbt.  However its really not because I later noticed that I'm still using 0.2.0 (Its a mistake on my side). Hence as @fommil mentioned the sbt-test may not work either :(

[2016-01-03 09:06] fommil commented on #141
@gaydenko for future reference, the reproduction is only 2 lines long and I can do nothing until I have it.

[2016-01-03 09:06] fommil commented on #141
@prassee that's the point of the tests, I was expecting falling tests

[2016-01-03 12:00] fommil commented on #141
I've created a failing testcase in https://github.com/fommil/ensime-sbt/tree/fix-0.3.1-regressions

[2016-01-03 13:44] fommil commented on #141
@gaydenko also for future reference, if you can show failures in the form of a simple project like https://github.com/ensime/ensime-sbt/tree/master/src/sbt-test/ensime-sbt then that will make it a lot easier to understand what you're seeing. Ideally, send in PRs with broken test projects. We have tests around `ensime-sbt` but they obviously aren't fully representing your projects so you can help o

[2016-01-03 15:33] #141 closed

[2016-01-04 16:00] markschaake commented on #138
I am also hitting this error for my multi-project build which necessarily has a different `scalaVersion` for a subproject that builds SBT plugins. It is necessary to set `scalaVersion` to `2.10` to be able to use SBT macros in the plugin source code. If you try to use a `scalaVersion` of `2.11` for an SBT plugin project that uses macros (such as `myTask.value`), you get compiler errors due to SBT

[2016-01-04 16:10] fommil commented on #138
@markschaake ENSIME only supports the exact version of scala that it is running in, hence can only support one version of scala. You can create multiple `.ensime` files each with different versions of scala.

[2016-01-04 16:20] fommil commented on #138
perhaps what we need is an "exclude" option? That would be quite easy to add actually. Maybe syntax could be `-name` to the `gen-ensime` Command. Then you could create a `.ensime` for your 2.11 projects and another for your 2.10 projects. I'd be happy to help you write that, if it isn't already obvious.

[2016-01-04 16:26] markschaake commented on #138
@fommil that makes sense. I'll give it a shot tonight - haven't contributed to ensime since doing the AutoPlugin conversion :)

[2016-01-04 16:50] fommil commented on #138
well the one big difference is that we demand tests now :stuck_out_tongue: you could use your minimal reproduction for that and use symbolic links to get the test support files from the other test projects.

[2016-01-05 02:45] markschaake commented on #138
@fommil I'm guessing this is another case of https://github.com/ensime/ensime-server/issues/1064, but SBT will not even load the ensime-sbt project, giving me the following error:

[code]

This is super frustrating for me as someone who wants to contribute but can't because the build tooling is not incompatible with what we use for work. If my kids are easy enough to put to bed tonight, I might ta

[2016-01-05 04:05] markschaake commented on #138
@fommil I give up. All the scripted tests fail for me using both stock SBT and paulp's SBT. Do they pass for you? If so, then I think `ensime-sbt` needs contributor instructions.

SBT output:

[code]

[2016-01-05 04:21] markschaake opened #143 "`scripted` tests fail"
I tried to get a dev environment set up for working on #138. When I ran the `scripted` task, tests failed. I tried both stock SBT and paulp's sbt launcher (with my SBT_OPTS env variable unset per https://github.com/ensime/ensime-server/issues/1064), both had the same test failures:

[code]

[2016-01-05 08:04] fommil commented on #143
Looks like the SBT global base property is not being normalised on your machine. Look in the test support file and adjust the regex.

[2016-01-05 08:07] fommil commented on #138
If that exception is not clear enough, feel free to reword. Perhaps issue sys.exit instead of an exception.

[2016-01-06 07:41] fommil opened #144 "Autoplugin hack to workaround scalariform"
We currently require ENSIME SBT the be added to the project definition the pick up scalariform settings, but I just thought of a hack that uses an autoplugin in the users source tree that brings us back to a fully user install mode.

[2016-01-06 10:52] VlachJosef opened #145 "Cannot add dependency 'org.scala-lang#scala-compiler;2.11.7' to configuration 'ensime-internal'"
I'm facing the same problem as https://github.com/ensime/ensime-sbt/issues/140, but I'm not aware of any problem with my configuration. I've put together minimal example for reproducing https://github.com/VlachJosef/ensime-sbt-issue

In my project I'm using https://github.com/sbt/sbt-scalabuff which is not a particularly up-to-date sbt plugin.

When I run `gen-ensime` with `addSbtPlugin("org.ensim

[2016-01-06 12:10] fommil commented on #145
thanks for the minimal reproduction! My initial guess is that your build definition is actually subtely broken but I'll have a look tonight.

BTW, are you coming on the 16th Jan to the next Hack the Tower? :smile:

[2016-01-06 12:17] fommil commented on #145
yup this is dodgy https://github.com/VlachJosef/ensime-sbt-issue/blob/master/project/Build.scala#L7

[code]

what I believe you meant to say was

[code]

can you please report this upstream, as I realise this is this recommendation and **it is wrong**.

Just because the project is called `root` doesn't mean it *is* the root project. What is happening here is a module called `root` is being created

[2016-01-06 12:18] fommil commented on #145
(please reopen if that doesn't fix it, probably we should add it to the `sbt-test` suite if it is still an issue)

[2016-01-06 12:31] VlachJosef commented on #145
Hack the Tower on the 16th Jan? I'll be there :)

[2016-01-06 12:43] VlachJosef commented on #145
If I try override `rootProject` in `sbt.Build` which type is `Option[Project]` like this
[code]
I'll get
[code]

[2016-01-06 12:57] VlachJosef commented on #145
Can you please reopen the issue, as I can't do it.

[2016-01-06 13:25] fommil commented on #145
maybe leave it as it is and add this line

[code]

[2016-01-06 13:29] VlachJosef commented on #145
by doing so I'm getting back to original error: `Cannot add dependency 'org.scala-lang#scala-compiler;2.11.7' to configuration 'ensime-internal' `

[2016-01-06 13:39] fommil commented on #145
interesting. I'll have a look. Please ping at the weekend if I forget.

[2016-01-06 14:02] VlachJosef commented on #145
Thanks for looking into this. I'll remind you at the weekend in case it is not solved by then.

[2016-01-07 06:20] pishen opened #146 "Getting ERROR "You have a different version of scala for your build (2.10.5) and ... (2.10.6)""
git clone this project https://github.com/KKBOX/spark-deployer
And call `gen-ensime` with ensime-sbt 0.3.2 will give me the following error:
[code]
These errors didn't happen when using ensime-sbt 0.2.3.

[2016-01-07 06:21] pishen commented on #146
Sorry I suddenly hit Enter...

[2016-01-07 06:28] pishen commented on #146
Has updated the description.

[2016-01-07 07:52] fommil commented on #146
And what do you think about the link in the stack trace that tells you exactly what is wrong?

[2016-01-07 07:52] #146 closed

[2016-01-07 08:56] ancane commented on #146
@pishen Hi. I was curious to look into `spark-deployer` build definition and I found an interesting name clash. One of the modules is called `sbt` which makes defining project keys, like `scalaVersion`, impossible. That is because `sbt` is a namespace for sbt keys and settings which are implicitly imported into build.sbt via 'import sbt._, Keys._, dsl._'.
Check out and try `gen-ensime` here: https

[2016-01-07 17:12] pishen commented on #146
Got it, thanks!
So the same warning now become error, right?
Will fix my project to fit the requirement, sorry for disturbing.

[2016-01-08 08:16] fommil commented on #146
Glad to hear you fixed it :smile:

[2016-01-09 16:18] fommil opened #148 "ENSIME formatting not in agreement with sbt-scalariform"
Unfortunately, `ensime-sbt` cannot automatically infer your [sbt-scalariform](https://github.com/sbt/sbt-scalariform) settings due to [an upstream regression]( https://github.com/daniel-trinh/sbt-scalariform/issues/24).

If you wish to use the same settings in ENSIME, you must use the approach described in the README's "Customise" section with:

[code]

[2016-01-09 16:37] fommil commented on #145
@VlachJosef change your config to this

[code]

the way you're doing it, I think you're bypassing the standard sbt plugins settings loading.

[2016-01-09 16:37] #145 closed

[2016-01-10 10:05] VlachJosef commented on #145
@fommil that works, great. Thank you.

[2016-01-11 10:11] fommil opened #149 "gen-ensime-project should distinct jars by name"
because sbt option adds multiple versions of the same jar, from different locations.

[2016-01-12 19:51] #144 closed

[2016-01-12 19:52] fommil opened #150 "use sbt-catalysts"
there is lots of stuff that could be ripped out or simplified from our build definitions because its now available in https://github.com/InTheNow/sbt-catalysts

twinned with https://github.com/ensime/ensime-server/issues/1222

[2016-01-17 18:25] VlachJosef opened #151 "scripted tests fails on Mac OS"
When I run `scripted` tests on Mac OS all of them fails due to the fact that `/var` folder on Mac OS is symlink to `/private/var`. When `ensimeExpect` is doing replacing on lots of places it fails due to the path without resolved symlink.

For example  `-Dsbt.global.base` from `java-flags` won't be deleted and thus test fails:
[code]

In [EnsimeSbtTestSupport](https://github.com/ensime/ensime-sbt/

[2016-01-17 19:38] fommil commented on #151
Is this a dupe?

[2016-01-17 19:38] fommil commented on #151
Your workaround sounds good!

[2016-01-17 20:24] #143 closed

[2016-01-17 20:24] #151 closed

[2016-01-17 20:25] fommil commented on #143
try now

[2016-01-18 22:56] fommil opened #153 "exportJars support"
the other side of https://github.com/ensime/ensime-server/issues/1230

[2016-01-19 02:43] markschaake commented on #143
All scripted tests pass for me now _except_ for the `ensime-sbt/exclude` test, which fails with:

[code]

[2016-01-19 06:49] fommil commented on #143
Well that's your test so I can't help there :-P

[2016-01-19 15:07] markschaake commented on #143
@fommil haha - yep :). I forgot I had already stubbed out a test and thought it was written by someone else. Sorry! Looks like I'm good to start working on the implementation. Thanks!

[2016-01-20 19:01] greenrd opened #155 "Debugging command does not do anything in sbt 0.13.5"
I have `set fork in run := true` (after running `debugging`).

[2016-01-20 19:13] fommil commented on #155
This sounds like an SBT problem rather than ensime-sbt, can you show your Java options?

[2016-01-20 19:13] #155 closed

[2016-01-20 19:14] fommil commented on #155
Did debugging put anything on the screen? Also try doing it after setting fork.

[2016-01-20 19:15] fommil commented on #155
Oh, setting run here might only do it for the root project, you might need to do it for the subproject for multi-project  builds

[2016-01-20 19:16] fommil commented on #155
Oh 0.13.5, can you update? That's ancient.

[2016-01-23 20:17] vikraman opened #156 "java.lang.IllegalArgumentException: Cannot add dependency 'org.scala-lang#scala-compiler;2.10.5' to configuration 'ensime-internal'"
I have a fairly large multi project build, and I'm running into the same issue as #140 and #145, but cannot figure out how to fix it. I have put together a small repo to demonstrate the issue.

https://github.com/vikraman/ensime-sbt-bug

[code]

[2016-01-23 22:40] fommil commented on #156
remove `standardSettings`

[2016-01-23 22:40] #156 closed

[2016-01-23 22:41] fommil commented on #156
and probably `foo` as well.

[2016-01-24 17:42] vikraman commented on #156
I use `standardSettings` to share common settings between subprojects, and I need to define `foo` to aggregate the subprojects. I updated my test case with some more plugins added to show the issue.

[2016-01-24 17:49] fommil commented on #156
this is really better directed at an sbt community, but your config is definitely broken... you shouldn't be calling out to `Defaults.defaultSettings`

what you probably meant to do is override `settings` like we do in `ensime-server` https://github.com/ensime/ensime-server/blob/master/project/EnsimeBuild.scala#L16

and then delete the lines `.settings(standardSettings)`

Note that some things can

[2016-01-24 17:56] vikraman commented on #156
That fixes it, thanks!

I think I had picked this up from an old version of scalaz. Also, the sbt docs still mention defining `commonSettings` and adding them in each project.

[2016-01-24 17:58] fommil commented on #156
probably your build would fail for other bizarre reasons and give incomprehensible errors, so you'll probably fix some other stuff you thought was unrelated.

[2016-01-24 17:59] fommil commented on #156
out of interest, did you need to override `rootProject`? It's not always needed

[2016-01-24 18:00] vikraman commented on #156
No, overriding `rootProject` wasn't required.

[2016-01-25 06:32] losvald opened #157 "False meta-circular depencency on scala?"
I'm trying to run "sbt gen-ensime" on the source of scala itself, and here is what I get:

	[error] a module is not authorized to depend on itself: org.scala-lang#scala-library;2.11.7
	java.lang.IllegalArgumentException: a module is not authorized to depend on itself: org.scala-lang#scala-library;2.11.7
		at org.apache.ivy.core.resolve.IvyNodeCallers.addCaller(IvyNodeCallers.java:167)
		at org.apa

[2016-01-25 07:30] fommil commented on #157
1. You've not given a reproduction
2. You're running an old version

I'm getting inundated with bug reports not following the basic requirements check as per the Getting Help section on ensime.org so I'm aggressively closing tickets of this nature for my own sanity.

[2016-01-25 07:30] #157 closed

[2016-01-25 19:29] #153 closed

[2016-01-25 19:30] fommil opened #158 "ensime-server git subtree merge"
which should add some extra test coverage and also remove the need for the environment variable.

[2016-01-25 19:51] losvald commented on #157
Sorry, I forgot to say my sbt version is 0.13.9 (latest). I did try again with the latest release (0.3.3), after cleaning ivy2 cache for ensime, but the problem is still there!

(Note the rest of the Troubleshooting guide you mentioned does not apply as we are talking about the bug in the process of *creating* .ensime configuration and there is no usage of editor whatsoever.)

If you really think

[2016-01-25 21:13] fommil commented on #157
oh come on, the `scala/scala` sbt build is insane!!! That's a bit unfair :stuck_out_tongue:

There is a custom `.ensime` file for `scala/scala` documented in the code tree, I recommend you use that.

[2016-01-27 19:03] fommil opened #159 "override javaFlags"
we currently calculate the java flags from the running sbt process, but it would be better if this was just the fallback default and let the user provide an override.

[2016-01-27 19:06] fommil commented on #159
in
https://github.com/ensime/ensime-sbt/blob/master/src/main/scala/EnsimePlugin.scala

we'd need a new TaskKey to represent the user setting, and set it by default to `JavaFlags` in the  `override lazy val buildSettings` block.

Then instead of access `JavaFlags` directly in the `val config = EnsimeConfig(` block, we'd use the config. Note that there are two places that access `JavaFlags`: `gen-en

[2016-01-28 12:53] j-mckitrick opened #160 "Remove references to JDK_LANGTOOLS_SRC"
This env variable is no longer needed.

[2016-01-28 12:55] fommil commented on #160
sorry, I asked you to create this but I forgot I already had filed it #158

[2016-01-28 12:55] #160 closed

[2016-02-02 21:43] fommil commented on #158
doing this now, just updating the test expectations

[2016-02-03 22:40] #158 closed

[2016-02-04 18:34] fommil opened #164 "OS X CI"
our tests should pass in OS X

[2016-02-06 15:18] fommil commented on #164
https://gist.github.com/larsrh/941b72b9b72abe0c1a49

[2016-02-14 13:19] fommil opened #165 "revert include source/javadoc in preference for user setting"
@jodersky introduced a feature flag to allow skipping sources / javadocs but @dwijnand pointed out that it is possible to set this on a per-user basis for all projects, which I feel is far more appropriate than hacking around it in our plugin:

https://github.com/ensime/ensime-sbt/blob/2f532c1b0d6c4d609d57bf65d69b000b9e375af5/src/main/scala/EnsimePlugin.scala#L33-L38

[2016-02-14 14:38] dwijnand commented on #165
For reference I was talking about the fact that I have globally:

[code]

in `~/.sbt/0.13/nojavadocs.sbt` so `updateClassifiers` never tries to download javadocs for me.

[2016-02-15 18:54] jodersky commented on #165
My PR #114 was a hack so if you have any cleaner solutions I would be glad to see it go.

@dwijnand I also considered the `transitiveClassifiers` option before submitting the PR, however I decided to not modify that setting. My reasoning was that `transitiveClassifiers` is not restricted to ensime, and changing it globally could have unwanted effects. What if you define it to be empty but a projec

[2016-02-15 19:43] #159 closed

[2016-02-16 06:57] fommil opened #166 "add -Ymacro-expand:discard on scala 2.11"
@xeno-by says it means the presentation compiler will try to evaluate macros. Might improve shapeless / etc usage // @rorygraves

[2016-02-16 07:01] dwijnand commented on #166
I think I've seen this option be used when compiling the scaladocs.

[2016-02-16 07:03] dwijnand commented on #166
* https://github.com/scala/scala/pull/3342
* https://github.com/scalamacros/paradise/issues/61
* https://github.com/scala/async/pull/143

[2016-02-16 13:14] fommil commented on #165
@jodersky fancy having another shot at it? I much prefer reusing existing keys

[2016-02-16 18:30] jodersky commented on #165
Sure, my plan is to scope `transitiveClassifiers` to the gen-ensime/gen-ensime-meta tasks and default to transitiveClassifiers in global config.
This approach would offer more fine grained control and would allow downloading (or not) different classifiers for different tasks.

[2016-02-16 22:53] jodersky commented on #165
My solution would have been to add something similar to the `megaUpdate` task:

[code]
and set `transitiveClassifiers in megaUpdate` to the default value in global.

However, thinking more about it, it might not be worth the effort since it would also override any project specific settings (i.e. it would not be possible to have different classifiers for different subprojects).

I think the easiest

[2016-02-17 07:13] #165 closed

[2016-02-17 22:09] fommil commented on #150
nah. Think I'll use my own `SensibleSettings`

[2016-02-17 22:09] #150 closed

[2016-02-17 22:30] smarter opened #169 "Projects using Dotty fail to compile if ensime-sbt is enabled"
https://github.com/smarter/dotty-example-project fails to compile when ensime-sbt is enabled, because ensime-sbt assume that there is an artefact of `scala-compiler`, `scala-library`, `scala-reflect` and `scalap` with version `scalaVersion` which is not true for Dotty. Right now, I think the simplest fix is to use `2.11.5` instead of `scalaVersion` if `scalaVersion` starts with `0.`.

[2016-02-17 22:44] fommil commented on #169
actually I have considered this :wink: what you need to do is provide a custom `EnsimeKeys.scalaCompilerJarModuleIDs` for each project.

[2016-02-17 22:44] #169 closed

[2016-02-17 22:45] smarter commented on #169
You mean, in the `build.sbt` of each project? Can this be done without depending on `ensime-sbt`?

[2016-02-17 22:46] fommil commented on #169
http://ensime.github.io/build_tools/sbt/#customise

[2016-02-17 22:52] smarter commented on #169
I don't want to force every project that uses Dotty to depend on ensime-sbt, but this needs to be correct in every project, because people have `ensime-sbt` in their global sbt plugins.

[2016-02-17 22:54] fommil commented on #169
the customise docs I linked you to show you how to do that with an autoplugin that you don't commit to the repo.

[2016-02-17 23:04] smarter commented on #169
So, every use of dotty and ensime-sbt should add an extra file to every project using dotty that they have? Wouldn't it be simpler to fix this in ensime-sbt?

[2016-02-17 23:07] fommil commented on #169
this is definitely a user setting... anybody who uses a custom build of scala needs to do this (e.g. at my work, or anyone with a typesafe subscription). I imagine the list of dotty workarounds is only going to get larger (and if there are enough people using ensime with dotty then it might make sense to make its build depend on `ensime-sbt`)

[2016-02-17 23:08] fommil commented on #169
btw, it might actually make sense for dotty to do what scala/scala does, and just provide a custom `.ensime` file.

[2016-02-17 23:15] dwijnand commented on #169
As an alternative to setting it in each project I'd recommend creating a global plugin to do the necessary change under the "if scalaVersion starts with 0" condition. If it becomes commonly used within the dotty community it could become it's own standalone plugin.

[2016-02-17 23:30] fommil commented on #149
I implemented this, expecting it to break the tests so I could fix it... but it turns out this ticket could be a figment of my imagination. I might have seen it on Windows only.

[code]

[2016-02-17 23:37] fommil opened #170 "Windows CI"
we're not testing under AppVeyor, we should be. use ensime-server as an example

[2016-02-17 23:42] #166 closed

[2016-02-17 23:50] fommil commented on #164
I merged upstream thinking that travis wanted to see the travis file in master, but it looks like https://github.com/travis-ci/travis-yaml/issues/67 we need to email. I've done that, just waiting for a response.

[2016-02-18 00:04] fommil commented on #164
https://travis-ci.org/ensime/ensime-sbt/builds/110008036

[2016-02-19 12:46] fommil opened #172 "extend `useJars` to take a task that returns a File"
The problem I'm facing with sbt-big-project is that the ensime server only sees my jars, which don't exist when the project is in a broken state. It is sensible to want to see the jars the last time the project was compilable (whereas using class directories, the presentation compiler sees whatever is currently compilable... arguably more up to date, but also potentially lacking some files)

If we

[2016-02-20 08:41] strobe commented on #140
Is it possible to create guide at documentation (with references to sbt related docs and issues) how to fix and understand that kind of issues at build configuration?
I asking because it seems like lot of big open source projects has it inside, for instance https://github.com/akka/akka has at least few these messages.

[2016-02-20 08:43] fommil commented on #140
This ticket is the documentation from our side. Probably sbt mailgroups are the best place to ask. I'm not at all surprised that the akka build would be broken, I've never even been able to get it to build.

[2016-02-20 09:18] strobe commented on #140
@fommil Thanks.
Sorry for few annoying questions below.

Could you describe best name which is suitable for refer this issue in sbt and akka communities?

What exactly part of ensime-sbt produced this sort of sbt build configuration conflicts?

If I will try fix Akka build configuration and send PR - how can I describe to Akka devs why they need to accept this change besides "ability to use ensime

[2016-02-20 09:39] fommil commented on #140
Yeah. It's a major problem in the Scala community. Everybody just copies and pastes.

I recommend reading the failures above, there were some common patterns. I'd help if you could minimise the problem, but I'm not particularly keen on losing a day to trawling through akka config. I'd rather spend a day removing akka from ENSIME to be honest, because it's such a constant source of agony.

[2016-02-20 10:32] strobe commented on #140
Thanks.
I will try investigate this more deeply by myself.

[2016-02-20 10:34] fommil commented on #140
the typical problem is that the `rootProject` has not been set up correctly.

https://github.com/akka/akka/blob/master/project/AkkaBuild.scala#L39

at a guess, they need to do something like

[code]

[2016-02-20 10:36] fommil commented on #140
oh wow, it's worse than that. They are explicitly bypassing the default settings by providing one to the `root` project on construction. It basically works by accident.

[2016-02-20 10:37] fommil commented on #140
try doing the above, plus change to

[code]

[2016-02-20 10:37] fommil commented on #140
actually, don't. They've done that everywhere, it'd be a major refactor, try just setting the `rootProject`

[2016-02-20 10:53] strobe commented on #140
Just ```rootProject``` itself won't help, it has other issues at some of subproject like ```akka-samples```.
But anyway please do not spend time on that, thanks for help.

I just would to understand source of that problem (not build the akka project) and I will try to do it by myself - May be later I will bring  some info back.

[2016-02-20 14:27] fommil commented on #170
gets as far as

[code]

I've renamed the `appveyor.yml` to `.appveyor.yml` to ignore the windows build for now. If you want to pick this up, just rename back and submit a PR and Windows will run (delete the travis / drone files during your workflow to avoid needless builds).

[2016-02-20 15:11] #149 closed

[2016-02-20 15:19] #170 closed

[2016-02-20 15:20] #164 closed

[2016-02-20 20:07] #172 closed

[2016-02-21 04:13] strobe commented on #140
this works https://github.com/strobe/akka/commit/67dbdf400e2e543baa8ff141849c09edf980fdc8
(but not sure that is a right way)

[2016-02-21 22:11] fommil opened #174 "recommend move to coursier"
we should detect when people are using coursier https://github.com/ensime/ensime-server/pull/1312 and not spit out the standard sbt tickets to vote on.

Also, we should encourage people to move to coursier as well as voting.

[2016-02-22 04:40] strobe commented on #140
I added few notes about 'settings =' & '.settings()' approaches difference:
http://stackoverflow.com/questions/35067187/sbt-idiomatic-way-to-add-settings

[2016-02-25 17:11] jmcejuela commented on #145
This was very useful, thank you ^.^

the key for me was the part of: `.settings(...yourSettings...)` instead of doing the previous, and I guess deprecated, `settings = Defaults.defaultSettings ++ yourSettings`

[2016-02-29 10:07] fommil opened #175 "CommandSupport should be an object"
Then it can be more easily reused, e.g. by https://github.com/fommil/imaginary-friend

[2016-02-29 22:59] fommil opened #176 "commands not defined correctly"
As I discovered "answering" http://stackoverflow.com/a/35711247/1041691 our commands do not provide any responses to the sbt `help` task. e.g.

[code]

so... find out how to set the help string properly.

[2016-03-01 00:43] #176 closed

[2016-03-01 00:43] #175 closed

[2016-03-10 22:24] casertap opened #179 "ensime-sbt not available for newer version of scala"
I want to add the akka 2.4.2 dependency to my project but it need scala 2.11+ to work.
Switching my scala version makes ensime-sbt broke because it can not find an ensime-sbt with this version of scala.
https://oss.sonatype.org/content/repositories/snapshots/org/ensime/

Scala is moving toward using the java 8 capabilities in it's version 2.12 which means that I will absolutely want to use the lat

[2016-03-10 22:34] fommil commented on #179
I think you're doing it wrong. We have 2.11 support. As a polite request, please follow the ensime.org Getting Help page before posting bug reports that don't have a full reproduction.

[2016-03-10 22:34] #179 closed

[2016-03-10 22:35] fommil commented on #179
Sbt uses Scala 2.10, just incase that's the confusing bit here.

[2016-03-10 22:42] casertap commented on #179
Ok I have setup a repo few days ago to explain my problem to the ensime-vim guys.
https://github.com/casertap/playing-with-actors
I could not make it works, I needed to downgrade all version on this commit to make it works:
https://github.com/casertap/playing-with-actors/commit/77ba3df5ff2d14554fc74cc419caa9ccd0e649bf

Can you explain how can I use akka 2.4.2 with ensime please?
I can not find ans

[2016-03-10 22:49] casertap commented on #179
I am getting this kind of error:

[code]

[2016-03-10 23:10] fommil commented on #179
You're using snapshot ensime-sbt, please read the build tool setup at ensime.org

[2016-03-10 23:11] fommil commented on #179
Why have you created an ensime_sbt.sbt file? That isn't in our documentation anywhere and doesn't do what you think it does.

[2016-03-10 23:23] fommil commented on #179
Yes I'm certain that's the problem. I recommend starting again with ENSIME by going to ensime.org, reading the Getting Started page, and making sure you follow the build tool / ensime-sbt steps as prescribed.

[2016-03-13 13:43] fommil opened #180 "support scala's sbt project"
scala itself now has an sbt build, but I've heard reports that it doesn't work with ensime-sbt. Most likely this is because they are doing terrible things with sbt that are in conflict with many assumptions of ensime-sbt.

It may not be worth the effort to do this, relying instead on a hand-crafted `.ensime` as per http://ensime.org/contributing/scalac but I'm leaving this here incase anybody want

[2016-03-14 18:02] fommil opened #181 "add a compileOnly task"
basically a really minimal version of https://github.com/etsy/sbt-compile-quick-plugin/issues/3 with no parser support, just taking a fully qualified file. Then this sort of thing is easy to set up

[code]

[2016-03-14 18:07] fommil commented on #181
or maybe this belongs in sbt-big-project. Probably it does.

[2016-03-16 11:17] fommil commented on #181
would also be great to have variants with various forms of `scalac` debugging enabled (e.g. printing trees).

[2016-03-19 15:22] soc opened #182 "Rename ensime-sbt artefact to sbt-ensime"
There is tremendous value in having a default naming convention for SBT plugins.
Almost all projects use `sbt-$projectname`, but `ensime-sbt` is the odd one out.

It would be great if this plugin adopted the ecosystem's naming convention!

Related ongoing changes:
 - coursier-sbt-plugin -> sbt-coursier: alexarchambault/coursier#202
 - sbteclipse-plugin -> sbt-eclipse: typesafehub/sbteclipse#314
 -

[2016-03-19 19:43] bonchef commented on #73
I could not seem to find any help for a similar issue in Cygwin.  Took me a while to figure that out and would like to share:

If you install SBT on Windows, despite you can run SBT from Cygwin, the .sbt still resides under Windows (default seems to be %user%).  I tried long to trouble shoot my SBT plugin config under my Cygwin home dir which obviously had no effect.

[2016-03-28 15:45] fommil commented on #182
we'll do this when we release 1.0

[2016-03-28 18:55] fommil commented on #181
I started doing some work on this in https://github.com/fommil/ensime-sbt/tree/compileOnly but it's not working yet because I've messed up the keys and we might need to turn off fatal warnings because the non-macro inputTask API is deprecated.

Also, we should restrict by `project`, we can't just pass this into the root or it'll have to find which project to use.

[2016-03-29 07:14] soc commented on #182
Cool, thanks!

[2016-03-29 07:19] fommil commented on #182
@soc and what about the generator? `ensimeConfig`? What is consistent?

[2016-03-30 09:42] soc commented on #182
@fommil do you have a link to the repo/code?

[2016-03-30 10:02] fommil commented on #182
@soc for what?

[2016-04-03 19:36] fommil opened #183 "javacOptions"
https://github.com/ensime/ensime-server/issues/1405

[2016-04-17 19:15] fommil commented on #183
#185

[2016-04-17 19:15] #183 closed

[2016-04-24 18:17] fommil commented on #181
@eed3si9n it looks like latest sbt has hidden an API that we need to be able to pull this off. Please have a look at my WIP and see the APIs I'm using https://github.com/fommil/ensime-sbt/commits/compileOnly

[2016-04-30 06:40] #174 closed

[2016-04-30 08:48] jeberger commented on #138
There is an issue when using subprojects. To reproduce, you can create an empty project with the following build.sbt:

[code]

This gives me the following error:

    You have a different version of scala for your build (2.10.6) and test (2.11.7).

I have no idea where the "2.10.6" comes from. It is apparently pulled by sbt into `~/.sbt/boot` but I don't know why this particular version is taken.

[2016-05-01 10:29] fommil opened #189 "upgrade to latest ensime-server in scripted tests"
will speed up the testing, getting hits from the coursier cache (and no netbeans)

[2016-05-01 11:22] mdedetrich commented on #138
I am getting this error when trying to use `sbt gen-ensime` on this repo https://github.com/mdedetrich/scala-json-ast

[2016-05-01 11:27] fommil commented on #138
@mdedetrich and rightly so, your root project has a different scala version than your modules.

[2016-05-01 11:29] mdedetrich commented on #138
Right, so is this one of those "will never be fixed" (I just reported it because I got a message to do so in this ticket)?

[2016-05-01 11:30] fommil commented on #138
@mdedetrich there is nothing to fix, your build definition is broken.

[2016-05-01 11:40] mdedetrich commented on #138
@fommil What definition of "broken". The only thing that claims it is broken is ensime, and its also the recommended build setup Scala.js.

[2016-05-01 11:44] fommil commented on #138
@mdedetrich read this thread and the comments I've left in your repo.

[2016-05-01 11:52] mdedetrich commented on #138
Yeah I don't think I can change the `build.sbt`, because my project does need to be a multi-scala version project, so it looks like I am stuck.

Also I disagree with your definition of "broken" but I am not going to argue about it (since this is the sbt recommended way of making multi scala version project)

[2016-05-01 11:54] fommil commented on #138
that's not what is broken, please read this ticket in detail. I've explained how to fix it at least 5 times above and told you how to fix it with comments on your actual github commits. I don't know what else I can do to help you.

[2016-05-01 11:56] fommil commented on #138
I also read the intro to this ticket again, honestly we cannot be clearer than that for you.

[2016-05-01 11:59] mdedetrich commented on #138
Ok I am fixing it now, hopefully it won't create issues with Scala.js

[2016-05-01 12:01] fommil commented on #138
@mdedetrich if you find anybody recommending that they do it the broken way that you've followed, please send them a PR to fix their documentation.

You'll find you'll have a lot less problems with compiler plugins after fixing this.

[2016-05-01 12:13] mdedetrich commented on #138
Okay so I have moved the lines to the top of the config (as recommended)

[code]

And I am still getting the problem, I think its the `crossScalaVersions` which is causing the issue, but as far as I am aware thats what you need to do multi scala version builds

[2016-05-01 12:17] mdedetrich commented on #138
Actually yeah, its due to Scala.js (https://github.com/scala-js/scalajs-cross-compile-example). It seems like its impossible on my end to use ensime while also using Scala.js. The barebone Scala.js cross compile sample does not work with ensime either

[2016-05-01 17:05] #181 closed

[2016-05-01 17:05] #189 closed

[2016-05-01 17:06] fommil commented on #182
@soc what about `ensimeConfig` instead of `gen-ensime`? I'm making the changes today and hopefully cutting a release. So now is the time to suggest standardisation changes.

[2016-05-01 17:25] fommil commented on #182
people can use http://www.scala-sbt.org/0.13/docs/Howto-Running-Commands.html#Define+an+alias+for+a+command+or+task if they want to retain the `gen-ensime` command.

[2016-05-01 17:26] fommil commented on #182
hmm, we might need to keep it anyway for the integration tests.

[2016-05-01 18:06] fommil opened #193 "unresolved dependency: org.ensime#ensime-sbt;0.5.0: not found"
In anticipation of the rush of support requests, this is on @soc who insisted that we rename `ensime-sbt` to `sbt-ensime` for consistence in #182.

You're here because you updated the version but not the artefact name.

Also, beware of the leopard.

[2016-05-01 18:06] #193 closed

[2016-05-01 18:08] fommil commented on #182
@dwijnand @rorygraves thoughts?

[2016-05-01 18:15] #182 closed

[2016-05-01 23:00] soc commented on #193
Wow, this is some impressive amount of preplanning. :-)

I apologize to everyone who hit this issue, but believe me, I had only the best intentions in mind.

[2016-05-01 23:09] fommil commented on #193
Don't worry, nobody reads the documentation or the FAQs so you'll have plenty of time to explain it again and again :-P

[2016-05-03 09:46] bfil opened #194 "Some keys were defined with the same name but different types: 'compileOnly' (Boolean, sbt.InputTask[Unit])"
Just upgraded from `ensime-sbt` version `0.4.0` to `sbt-ensime` `0.5.0` and I'm getting the following error:

[code]

It looks like compileOnly is define as a task as well as a setting key.

[2016-05-03 10:23] fommil commented on #194
Can you please give a reproduction in the form of a unit or integration test? A github repository with exact instructions for somebody to follow, like a script, is also a good starting point. We are more than happy to help you turn it into an automated test, and discuss ideas on how to fix it. Read the http://ensime.org/contributing guide for more information.

We close tickets that look like a kn

[2016-05-03 10:31] bfil commented on #194
Closing the issue seems like a very bad practice to me, considering there are no steps involved in order to reproduce an SBT plugin compilation issue, it just does not compile my projects anymore.

I'll give you the details anyway, I've changed:

`addSbtPlugin("org.ensime" % "ensime-sbt" % "0.4.0")`

to:

`addSbtPlugin("org.ensime" % "sbt-ensime" % "0.5.0")`

I have no custom settings or anything

[2016-05-03 10:37] fommil commented on #194
your project, your sbt settings

[2016-05-03 10:40] fommil commented on #194
I don't see where we have a `compileOnly` `Setting`

[2016-05-03 10:46] bfil commented on #194
I found out where it conflicts: https://github.com/sbt/sbt-aspectj/blob/master/src/main/scala/com/typesafe/sbt/SbtAspectj.scala#L32

I guess it might be worth considering namespacing all the keys with a prefix like most plugins do:

`ensimeCompileOnly` instead of `compileOnly`?

I guess that the fact that sbt does not namespace keys is just something every plugin should accept to live with? I know

[2016-05-03 11:05] fommil commented on #194
I don't understand how this clashes, theirs is `compile-only` and ours is `compileOnly`.

Given that ours is doing the intuitive thing for the naming convention (c.f. `testOnly`) I'm pretty sure it's for aspectj to change their setting name.

Can you perhaps ask on the `sbt/sbt` gitter channel for options here? Plugin authors can't be expected to prefix everything everytime a collision comes up li

[2016-05-03 11:09] bfil commented on #194
Unfortunately that's how most of the plugins do it, just take a look at the keys of all the native packager modules:

https://github.com/sbt/sbt-native-packager/tree/master/src/main/scala/com/typesafe/sbt/packager

Or `sbt-scoverage`:

https://github.com/scoverage/sbt-scoverage/blob/master/src/main/scala/scoverage/ScoverageKeys.scala

I don't think there is a way around it?

[2016-05-04 07:55] fommil commented on #194
@bfil can you please create a reproduction, I can see the potential for a collision here but it needs to be explicit. The `compile-only` scripted test would seem to be a good place for this https://github.com/ensime/ensime-sbt/tree/master/src/sbt-test/ensime-sbt/compile-only and from there we can help you to fix any bugs that are discovered.

I am of the opinion that `sbt-aspectj` should change th

[2016-05-09 11:32] fommil opened #195 "cache for transitiveProjects"
for really huge projects, and multiple parameters to `ensimeConfig`, the time to calculate `transitiveProjects` is substantive. Adding this cache is beneficial.

[code]

[2016-05-10 05:59] fommil commented on #194
Something I was thinking of that could be a workaround is to split `EnsimePlugin` into two plugins, the second called `EnsimeExtrasPlugin` which would contain non-essential tasks to help developer workflow.

@bfil I'll still need a reproduction from you on this, e.g. minimal project displaying the problems. Flagging for close if we don't hear back in a week or so.

[2016-05-10 06:07] fommil opened #196 "alternative to the `runMain` task"
our `debugging` hack shows how difficult it is to launch a java process with custom flags. I propose we scrap our debugging command and come up with a new `java` Task that works just like `runMain` except:

1. it always forks (and uses the default `javaOptions`)
2. it allows the user to provide java flags
3. it allows the user to provide envvars

this could be the basis for a new "launch manager",

[2016-05-10 07:46] bfil commented on #194
Ok, I'll try my best to code up a reproduction asap, thanks.

[2016-05-10 21:07] bfil commented on #194
Here it is: https://github.com/bfil/sbt-ensime-bug

[2016-05-12 10:01] vertexclique commented on #194
I have run into same problem.

[2016-05-12 16:58] jodersky opened #197 "Scalariform custom setting breaks ensimeConfig"
Using a non-boolean (or Int) setting in Scalariform throws a MatchError from `ensimeConfig`.

## Steps to reproduce
1. Add following Scalariform settings to a project's settings

[code]

2. Run `sbt ensimeConfig`

3. Watch it die with a `MatchError`

## Underlying issue
The part that generates the contents of the `.ensime` configuration file, `SExpFormatter` has a non-exhaustive match, [as highlig

[2016-05-12 19:24] jodersky commented on #197
Hmm this bug looks deeper than I thought.
In the build configuration it says:
[code]
and `Preserve` and other Intents don't exist in that scalariform version yet. To make things worse, it seems that an upgrade cannot occur until #148 has been fixed, which itself requires an upstream fix.

[2016-05-12 22:16] fommil commented on #197
We need to use an old version of scalariform for backwards compatibility so I'm not sure we can accept a fix. For now you have to remove these settings from your config. When we release 1.0 and look at breaking api changes for 2.0 we should probably move to preferring a config file reference, rather than parsing the parameters. Or just move over to scalafmt wholesale.

[2016-05-12 22:24] jodersky commented on #197
I didn't know about scalafmt, it looks awesome :) Btw, I submitted a workaround for this issue

[2016-05-14 10:18] #197 closed

[2016-05-14 11:07] fommil opened #199 "invoke ensime-server to index a project"
following on from https://github.com/ensime/ensime-server/pull/1447 it would be good to be able to programmatically index a project. i.e. given a `.ensime` file and a version of `ensime-server`, do the indexing. #196 would help a lot.

[2016-05-14 12:44] fommil opened #200 "don't set libraryDependencies for scala and dotty"
if the project name is `scala` or `dotty`, use Odersky mode and don't populate the `libraryDependencies`

[2016-05-14 12:58] smarter commented on #200
I'm using ensime with dotty without any hack and it just works, not sure why this would be needed

[2016-05-14 13:01] smarter commented on #200
The only thing we wish for from ensime is to get https://github.com/ensime/ensime-sbt/issues/169 fixed, but I'm not holding my breath :).

[2016-05-14 13:04] fommil commented on #200
@smarter oh, I think it's the same thing.

[2016-05-14 13:19] fommil commented on #200
@smarter this is easy, I can pick it up today if I get the time.

[2016-05-14 14:58] fommil commented on #200
@smarter I've got a reproduction, should be easy to workaround now.

[2016-05-14 15:08] fommil commented on #200
ok, I'm done for the day, but there is a repro and a failed attempt to fix it in https://github.com/fommil/ensime-sbt/tree/odersky-mode

[2016-05-14 15:24] smarter commented on #200
That might be the way to go for fixing scala/scala, but for dotty the issues is with projects that compile with dotty, not with the dotty project itself which has `scalaVersion := 2.11.5`.

[2016-05-14 15:48] milessabin commented on #200
Are you saying that the "odersky mode" branch is also a fix for working on scala/scala?

[2016-05-14 17:59] fommil commented on #200
@milessabin "odersky mode" is traditionally for legacy reasons scala/scala until we get further evidence of an upstream Odersky requirement.

[2016-05-14 17:59] fommil commented on #200
@smarter yeah, give us a presentation compiler and then we can talk ;-)

[2016-05-14 21:41] #200 closed

[2016-05-15 10:32] fommil commented on #200
@milessabin 0.5.1 is on its way to maven central

[2016-05-15 10:43] fommil commented on #194
@bfil can we expect a PR to address this from you? It may be some time before I have another reason to split the plugin into two parts.

I also hope you have raised the issue with the aspectj plugin authors and asked them to namespace their setting. Any ensime workaround will be about empowering users to disable the functionality as we do not plan to rename this `Task`: it is idiomatic with the us

[2016-05-16 11:55] fommil opened #203 "use scalaOrganisation"
everywhere we have `"org.scala-lang"` we should probably use the `scalaOrganiZation` (sic) setting.

[2016-05-17 17:13] yyadavalli commented on #203
When changed to use `scalaOrganization.value` the output from `ensimeConfig` has the new organization but the output from `ensimeConfigProject` still has `org.scala-lang`, is this expected or am I missing something

[2016-05-17 17:41] fommil commented on #203
Yeah, I'd say so. Sbt has its own Scala version.

[2016-05-24 13:48] phillord commented on #193
I'm very impressed.....

[2016-05-25 10:08] fommil opened #205 "compileOnly needs to have the target directory"
otherwise it's not really much use

[2016-05-25 10:08] #203 closed

[2016-05-25 11:25] alexandru opened #206 "Ensime should not recommend Coursier as alternative to Ivy with a warning"
While using Ensime's SBT plugin, I noticed this warning:

[code]

I personally take warnings very seriously, which means that when I see a marketing message like this one, I expect for that alternative to be a good and stable alternative. So I tried Coursier. And ALAS it crashed with an exception while updating the Ensime server from within Emacs and it was Coursier's fault, as it was a Coursier r

[2016-05-25 11:48] fommil commented on #206
well, I disagree

[2016-05-25 11:48] #206 closed

[2016-05-25 11:50] fommil commented on #206
We used to get a flood of complaints about sbt-ensime being really slow, so this is to stop people from raising those tickets. Change it to `info` if you must.

[2016-05-25 11:51] fommil commented on #206
coursier isn't used to update the server inside emacs.

[2016-05-25 12:09] alexandru commented on #206
@fommil I understand the rationale, however it's far worse for Ensime to crash than it is for it to be slow, imho.

Please see the updated description.

[2016-05-25 12:14] fommil commented on #206
just add coursier on a per project basis, not system wide. If Alex is recommending to install globally, please send a PR to update his docs. If you would like to use coursier to upgrade ensime-server itself, please help out by picking up https://github.com/ensime/ensime-emacs/issues/269

I'm not disabling this log message, although I would accept a PR to turn it into an `info` if you feel strongly

[2016-05-25 12:16] fommil commented on #206
@alexarchambault I'm not sure coursier is ready for global installation as per https://github.com/alexarchambault/coursier#sbt-plugin

I recommend that you only document how to install on a per-project basis.

[2016-05-25 12:17] fommil commented on #206
also looks like @alexandru has a dodgy maven cache.

[2016-05-25 12:21] alexandru commented on #206
I personally *never* add IDE-related or other tooling plugins on a project level, because I do not want to force that choice upon the people that may want to build the project. Adding Coursier to `project/plugins.sbt` would be just like adding `ensime` to it.

Also, my Maven cache works fine without Coursier.

[2016-05-25 12:28] fommil commented on #206
well, in either case this sounds like a bug report for coursier. I don't consider coursier to be IDE tooling, it's third party dependency management and is *very much* a project-level concern.

[2016-05-25 12:30] alexarchambault commented on #206
@alexandru It seems you somehow restricted the repositories to your `~/.m2`. Unlike SBT/Ivy, coursier doesn't mix the caches (under `~/.coursier/cache`) of the various repositories, so if a given repository isn't setup in a resolution, its cached content just won't be used. Hence the possible discrepancy you're seeing.

[2016-05-25 12:32] alexandru commented on #206
@alexarchambault thanks, maybe that's the problem, I'll retry.

[2016-05-25 12:33] fommil commented on #206
if you need to reproduce this, you could start with the `build.sbt` that we write out and execute in ensime-emacs https://github.com/ensime/ensime-emacs/blob/master/ensime-startup.el#L28-L72

[2016-05-25 12:35] fommil commented on #206
FYI we do add the local maven repo, so that we can see local builds of scala.

I just noticed that we still have `fullResolvers += Resolver.jcenterRepo`... which we don't need anymore. @alexandru a PR to remove that line as your penance would be appreciated :stuck_out_tongue_closed_eyes:

[2016-05-31 21:37] fommil commented on #194
requested here https://github.com/sbt/sbt-aspectj/issues/29

[2016-06-10 19:31] #205 closed

[2016-06-10 19:55] #195 closed

[2016-06-10 22:51] fommil commented on #148
I wonder if we could just exploit the single namespace of sbt to support this.

[2016-06-15 09:35] fommil opened #209 "EnsimeKeys.name shouldn't set the ensimeConfigProject name"
should have `-project` appended.

[2016-06-15 19:51] fommil commented on #194
I've had a change of heart on this one, I'll accept a PR to namespace all our commands. No need for a test for this.

[2016-06-16 02:01] ktonga opened #210 "Cannot build a project when `ensime-sbt` plugin is enabled"
It's happening with [Scalding](https://github.com/twitter/scalding) as far I can tell. When I try to build the project (`sbt scalding-core/compile`) and the plugin is enable (globally in my case) the build fails with the following errors:

[code]

I double checked and if I disable `ensime-sbt` in global plugins it doesn't happen anymore.

I don't know what the actual problem is, but I think that a

[2016-06-16 06:33] fommil commented on #210
It's almost certainly going to be a problem in scalding.

[2016-06-16 06:34] fommil commented on #210
Minimise the problem and send a PR with a failing test.

[2016-06-17 18:04] #194 closed

[2016-06-17 18:19] fommil commented on #210
reproduced. Weird. The config isn't being added for some reason.

[2016-06-17 18:23] fommil commented on #210
yup, bug in scalding build, they shouldn't be using the `Project` constructor https://gitter.im/sbt/sbt?at=57643feaf0528c4c5bb9f6ee

[2016-06-17 18:23] #210 closed

[2016-06-18 13:47] #148 closed

[2016-06-18 13:47] #209 closed

[2016-06-18 17:06] fommil commented on #199
this absolutely needs to do resolution lazily, otherwise the cost to the user's project build will be too high.

[2016-06-19 15:12] fommil commented on #199
after discussion with @dwijnand I think we should abandon all hope of implementing this. It would add a sonatype resolver to the user's project (not good) and also involve a lot of code duplication with the client. Either the build tool plugin or the client should own this code, and since the clients already have it, it doesn't make sense to try and make the build tools have it as well.

Therefore

[2016-06-19 15:12] #199 closed

[2016-06-19 15:27] dwijnand commented on #199
What about avoiding resolvers and the like and using coursier programmatically?

[2016-06-19 16:38] fommil commented on #199
Then we'd be adding a coursier dependency

[2016-06-19 16:42] dwijnand commented on #199
Make it a new autoplugin or SBT project or separate repo and leave the current one as is.

[2016-07-09 13:36] fommil opened #217 "change .ensime format: modules have scala ivy configs"
to support https://github.com/ensime/ensime-server/issues/1152 and https://github.com/ensime/ensime-emacs/issues/498 the `.ensime` file needs to move the scala compiler flags from the main section into each module section, and each module section needs to be split up by configuration name.

[2016-07-14 19:16] DylanLukes commented on #141
Is there a fix for this? It still seems to be happening.

[2016-07-19 01:49] brennovich commented on #145
I solved this by explicitly adding `EnsimePlugin.projectSettings` into my settings:

[code]

It can be also globally solved by adding a `~/.sbt/0.13/global.sbt`:

[code]

[2016-08-16 14:02] krux02 opened #218 "press enter to interrupt --- doesn't work"
### Steps to reproduce
1. M-x sbt-start
2. ~compile
3. press enter
### Expected behaviour

sbt should interrupt the build
### Actual behaviour

<nothing happens>

[2016-08-16 14:57] fommil commented on #218
you probably meant to raise this against `emacs-sbt-mode`.

we don't recommend use of `~compile`. Prefer a file save hook, it's far more efficient.

[2016-08-16 14:57] #218 closed, assigned to nobody

[2016-08-17 11:25] krux02 commented on #218
Yes you are right I meant to raise it for `emacs-sbt-mode`. All those different packages can be a bit confusing when you are new, but when I think about it now it makes sense.

For your recommendation, it doesn't really help me much, because I don't know how to do a save hook in emacs yet. I am now to emacs, and honestly it sounds like a lot of work. On the other hand I am already used to the `~co

[2016-08-17 18:07] fommil commented on #218
@krux02 have a look at recent discussions about this on this tracker @VlachJosef is writing it up

[2016-08-17 18:14] krux02 commented on #218
@fommil which tracker do you mean?

[2016-08-17 18:27] VlachJosef commented on #218
@krux02 I believe @fommil meant this issue https://github.com/ensime/emacs-sbt-mode/issues/51 It was little different issue than yours problem, but in the end it boils down to usage of `~`.

Which seems like I should hurry up with writing that part of a documentation.

[2016-08-17 18:58] fommil commented on #218
I'd like to have some nice convenience methods for accessing the .ensime file (with buffer local caches). It would be really useful and efficient in my workflow, for example, to delete the jar file associated to a source file on save.

[2016-08-27 18:41] fommil commented on #180
@soc says this "just works" and it generates this config (with warnings) https://gist.github.com/soc/dc9fd520ca2c1471a8ae5e3fcd0880ae

[2016-08-27 19:13] fommil opened #219 "warn or error if the project uses .scala files in the root"
detect and warn/error when https://github.com/ensime/ensime-server/issues/1432 is encountered

[2016-08-27 19:41] fommil opened #220 "coursier message should be install instructions"
@mpilquist noted that the coursier message is annoying because it doesn't let him just add a line to fix it. We should have the instructions in our warning message, which is **not** going away because coursier is the saviour of the universe!

[2016-08-31 19:33] fommil opened #221 "add sbt-header"
trivial, we now use java7 so easy peasy.

[2016-09-07 16:47] SethTisue commented on #180
note that the 2.11.x sbt build is now abandoned and no longer worth supporting.

in 2.12.x world, on the other hand, the ant build has been removed and the (now much-improved) sbt build is now required. now that the two builds no longer need to be kept in sync, the door might be open to fix peculiarities in the sbt build if they are causing problems for ENSIME (or other IDEs), depending on what th

[2016-09-07 22:36] SethTisue commented on #180
see @fommil's remarks at https://gitter.im/scala/contributors?at=57d05a0d68f483b41cad1b96

[2016-09-07 22:47] fommil commented on #180
this is the ticket for 2.12 support https://github.com/ensime/ensime-server/issues/1414

[2016-09-13 05:52] fommil opened #222 "convenience function for adding plugins"
it would be good to have an `ensimeCompilerPlugin` task that takes an ivy pattern and adds a jar as a compiler plugin.

[2016-09-13 05:55] fommil commented on #222
it would also be good to have a convenience method for local projects as ensime compiler plugins, i.e. this trick from Dale

[code]

[2016-09-13 06:22] fommil commented on #220
I've changed my mind. We can't be expected to release a new version of sbt-ensime every time coursier makes a release, just to bump the version number in our warning. The get coursier link is ideal.

[2016-09-13 06:22] #220 closed, assigned to nobody

[2016-09-13 07:09] fommil commented on #221
it's two files, who cares

[2016-09-13 07:09] #221 closed, assigned to nobody

[2016-09-13 13:10] #219 closed, assigned to fommil

[2016-09-17 21:52] ghost commented on #210
Hi,

I'm having the same issue in https://github.com/spotify/scio  Would you mind explaining how this would be fixed in the source repo?

[2016-09-23 22:20] michalrus opened #224 "Generating `.ensime` for multiprojects using sbt-android fails…"
### Steps to reproduce
1. Clone https://github.com/michalrus/ensime-sbt-issue-224
2. Run `sbt ensimeConfig` in the cloned directory.
### Expected behaviour

The generated `.ensime` file should mention `${ANDROID_SDK_HOME}/platforms/android-23/android.jar`.
### Actual behaviour

There’s no link to `android.jar` and therefore, in Emacs, all uses of `android.*` symbols are not found and colored in re

[2016-09-23 22:24] michalrus commented on #224
/cc @pfn

[2016-09-23 22:34] fommil commented on #224
Interesting. I think I've heard of something similar before. The workaround is to use the transforming task to add whatever jars you need. Word you be interested in helping to fix this bug?

[2016-09-24 03:16] pfn commented on #224
We've seen this before, workaround:

[code]

[2016-09-24 04:29] fommil commented on #224
You can do this without modifying your project's sbt build by updating the EnsimeConfig with a transformer.

[2016-09-24 09:08] michalrus commented on #224
Thank you both for taking interest in this!

@fommil, sure, I’d be happy to help. What do I do first?

@pfn, thank you for the suggestion! Do you mean:

[code]

or:

[code]

or:

[code]

…? I’ve tried all three without success. :crying_cat_face:

[2016-09-24 09:10] michalrus commented on #224
@fommil, could you point me to a resource/sample code/… on transformers?

---

Edit: found it → https://github.com/ensime/ensime-sbt/blob/2.0/src/sbt-test/sbt-ensime/config-transformation/build.sbt.

[2016-09-24 11:42] michalrus commented on #224
OK, this one works, but it’s… a bit silly.

[code]

[2016-10-11 15:34] fommil opened #227 "scalariform format one file"
a good addition to EnsimeExtras would be the ability to format one source at a time with scalariform. This would allow us to complete https://github.com/ensime/ensime-server/issues/1606 and then perhaps move to `scalafmt` in the future (possibly a patch to sbt-scalarform would be appropriate too).

[2016-10-11 15:37] fommil commented on #224
is this still considered a bug in ensime-sbt or is it a problem with the android projects?

[2016-10-11 15:38] fommil commented on #224
btw you don't need to mutate `javacOptions` or `scalacOptions` just to affect ensime, we have keys such as `ensimeAdditionalCompilerArgs`

[2016-10-11 16:06] fommil opened #228 "ensimeRunDebug use ensimeDebuggingFlag / ensimeDebuggingPort"
It would be much better if our definition of ensimeRunDebug could re-use the existing Settings, but I can't get sbt to play nicely since it doesn't want to allow me to access any Settings before creating an input task.

[2016-10-11 16:17] fommil commented on #228
this says it all really

[code]

[2016-10-11 16:18] #196 closed

[2016-10-11 17:07] fommil commented on #228
from @pfn on gitter

[code]

[2016-10-11 23:36] pfn commented on #228
maybe flatMap

[2016-10-12 00:43] pfn commented on #224
An issue for ensime to solve

Or at least documented for android projects.

[2016-10-12 10:17] fommil opened #229 "replace debugging with testOnlyDebug"
a complementary task to `testOnly` which adds the debugging flags.

No need for the other test variants (although I wouldn't reject them) since you probably don't want to spawn up multiple JVMs anyway, typically you'd only want to test one thing.

[2016-10-19 16:57] yyadavalli commented on #227
Hi, I'd like to pick this up if anyone else is not working on it

[2016-10-19 17:12] fommil commented on #227
yeah, that'd be cool! I think @sugakandrey was going to look at it in a few weeks, but you can certainly pick it up and if we don't hear from you, Andrey can pick it up again :smile:

[2016-10-19 17:12] fommil commented on #227
there is already some logic in `ensimeCompileOnly` that could be reused to discover if a source file really belongs to a `Project`.

[2016-10-19 17:22] yyadavalli commented on #227
Sure, actually I looked at the code in `ensimeCompileOnly` but I did not think all those checks were necessary, I am thinking of putting in checks to see if the file exists and is a `.scala` file.
Does it matter if the file belongs to the Project or not?

[2016-10-19 17:37] fommil commented on #227
Yes, definitely important.

[2016-10-19 17:38] fommil commented on #227
Otherwise you could apply the settings of the wrong project. Failing is far more preferable.

[2016-10-21 09:41] fommil opened #231 "launchTask needs a parameter"
to allow for custom launch profiles, e.g.

[code]

[2016-10-21 10:12] fommil opened #232 "should not convert windows paths into / windows names"
it confuses emacs (e.g. for subpath matching). See `convert-standard-filename` etc

[2016-10-21 10:12] fommil commented on #232
ignore me, this is happening in emacs

[2016-10-21 10:12] #232 closed, assigned to nobody

[2016-10-21 15:36] mikesperber opened #233 ".ensime not generated correctly in the presence of subprojects"
### Steps to reproduce
1. Check out `https://github.com/mikesperber/ensime-multi-project`
2. `cd bar`
3.  `sbt ensimeConfig`
### Expected behaviour

An `.ensime` file that contains the `bar` project under `:subprojects`, so that files from it could be recognized.
### Actual behaviour

Only `foo` is listed under `:subprojects`.

[2016-10-21 15:41] fommil commented on #233
I'm not sure this is a valid multi-project. Ask for sbt help to get this setup, and if you want to see examples of valid multi-project builds, look at ensime-server.

In any case, a restriction of ensime is that all subprojects must have a common root directory, so the clients wouldn't be able to support this even if .ensime contained the projects you expect.

[2016-10-21 15:51] fommil commented on #233
although, you could move the .ensime to the parent because that's the common dir. Still, I'm not convinced this is a valid/canonical multi project build, let's open it up again if the sbt people say that it is.

[2016-10-21 20:49] fommil commented on #180
after trying this out, I think this might just mean https://github.com/scala/scala/pull/5387 plus generating a `:source-mode t` entry in the `.ensime`

[2016-10-21 20:51] fommil commented on #180
or possibly just allowing transformation to add this flag

[2016-10-21 20:52] fommil commented on #180
oh, we might also want to exclude the jars of the STARR

[2016-10-21 20:53] fommil commented on #180
and can use the transformer to change the version of scala too, working around the scalaVersion debacle.

@dwijnand you may be interested in this

[2016-10-21 20:55] dwijnand commented on #180
Only if there's a free burger up for grabs ;-)

[2016-10-21 20:56] fommil commented on #180
you'll need to talk to my wife about that :sob:

[2016-10-21 20:56] fommil commented on #180
oh, I mean the details... I'll do the work :stuck_out_tongue:

[2016-10-21 20:59] dwijnand commented on #180
Copying from scala/contributors on [21st October 2016 8:19 PM](https://gitter.im/scala/contributors?at=580a6a51577f2c227905e2ae)

I was considering implementing this in ensime at the next hackday, so it would help out sbt/sbt#2579 too.

WDYT?

[2016-10-21 21:00] fommil commented on #180
that'd be cool but I was hoping we could fix the sbt macros! Maybe I'll take that and try a few ideas while you do this.

[2016-10-21 21:02] fommil commented on #180
maybe we could introduce `ensimeScalaVersion`, enabling fancy logic like you suggest, but also the ability to override it manually.

[2016-10-21 21:05] dwijnand commented on #180
Whatever works that improves this reoccurring issue :)

[2016-10-22 09:02] fommil opened #234 "remove watch disabling"
other side of https://github.com/ensime/ensime-server/issues/1617

[2016-10-22 09:24] #227 closed, assigned to nobody

[2016-10-22 09:25] fommil commented on #233
@dwijnand what are your thoughts on the validity of the referenced project?

[2016-10-22 09:26] fommil commented on #234
server needs to do this first

[2016-10-22 09:28] fommil opened #235 "infer ensimeScalaVersion from majority vote"
currently we just use the root's `scalaVersion` but many projects are setup incorrectly to use sbt's scala version for the root. @dwijnand

[2016-10-22 09:35] dwijnand commented on #233
I wouldn't call it canonical, rather pretty niche.

I guess if it works in sbt, then it's a fringe-case ensime doesn't currently support.

[2016-10-22 09:39] fommil commented on #233
is this way of doing it likely to be removed in 1.0? Should it be? I thought 1.0 was a way of clearing up non-canonical ways of doing things.

[2016-10-22 09:40] dwijnand commented on #233
No. Dunno. That is true, just this one isnt promenant.

[2016-10-22 09:45] fommil commented on #233
ok, well in that case we'll close this as WontFix but would accept a PR to fix it from @mikesperber if it isn't too complex. Happy to show you how to get set up to contribute to this plugin if you'd like to dive in.

[2016-10-22 09:48] fommil opened #237 "sbt 1.0 compatibility"
- [x] For the sake of 1.0 compatibility, we should remove our use of deprecated APIs.
- [ ] normalise the sbt jars in the tests
- [x] remove deprecated apis from tests (Build projects, swap ensime-server for smaller tests)
- [x] convert ensimeConfig et al to a Task

[2016-10-22 10:00] fommil commented on #224
I think we'll go with "document for Android projects". Can one of you please try the above using:
1. `ensimeAdditionalCompilerArgs` instead of `scalacOptions in Compile`

and I'll create an extra parameter for you to specify the java args.

Note I may rename `ensimeAdditionalCompilerArgs` to `ensimeAdditionalScalacArgs` in the next release. I'll use android as the example of how to use these flags

[2016-10-22 12:34] mikesperber commented on #233
Well, there's this:

http://stackoverflow.com/questions/11653435/how-to-reference-external-sbt-project-from-another-sbt-project

I have several projects that live side-by-side with a common subproject, so putting the subproject in a subdirectory of the main project won't work. And the SBT setup for this works just fine.

I'd be happy to give fixing it in ENSIME a shot.

[2016-10-22 13:34] fommil commented on #233
probably the best thing to do first is to read http://ensime.github.io/build_tools/sbt/#contributing

Then put your example project above into the `src/sbt-test` structure of the other scripted tests, following the pattern of other simple tests, and put a bunch of printlns into the EnsimePlugin and see what is happening and where the `foo` / `bar` is getting dropped.

Note that in the various ensi

[2016-10-22 14:21] #231 closed, assigned to fommil

[2016-10-22 15:01] fommil commented on #235
this cannot be done, because it will mean making a setting (`libraryDependencies`) depend on a task (this algorithm)

[2016-10-22 15:28] fommil commented on #235
dale still thinks it's possible

[2016-10-22 16:17] #224 closed, assigned to fommil

[2016-10-22 16:18] fommil commented on #217
this will probably involve changing `ensimeJavacOptions` / `ensimeScalacOptions` (and maybe others) to be scoped to a config instead of just per-project.

[2016-10-22 16:39] fommil opened #239 "scalaOrganization test is failing with recent sbt 0.13.12"
and also, if one publishes our snapshot and runs against scala/scala it is failing with a similar error

[code]

could be related https://github.com/sbt/sbt/issues/2015 and also https://github.com/scala/scala/pull/5386

[2016-10-22 16:42] fommil commented on #239
@dwijnand's workaround does not work in our tests (or in scala/scala v2.11.x branch)

[2016-10-22 17:26] fommil opened #240 "obtain the scala-compiler (et al) jars for scala itself"
we currently don't attempt to resolve scala-compiler (et al) if the organization matches the scalaOrganization, to avoid cycles.

But this means that scala developers cannot use the ensime assembly jars or scala repl. It would be good to resolve the scala-compiler jars (even if it's a local `ensime-sbt` hack) to remove this restriction.

[2016-10-22 17:36] fommil commented on #240
the part of the code that is relevant is https://github.com/ensime/ensime-sbt/blob/v1.11.0/src/main/scala/EnsimePlugin.scala#L168-L177

[2016-10-22 17:39] #239 closed, assigned to nobody

[2016-10-22 17:46] fommil commented on #240
from paulp https://github.com/paulp/policy/blob/master/project/PolicyBuild.scala and https://github.com/paulp/psp-libsbt/tree/master/libsbt/src/main/scala

[2016-10-22 17:51] fommil commented on #224
docs added here, http://ensime.org/build_tools/sbt/#customise

I'm assuming it works unless you tell me otherwise. I don't see why it wouldn't

[2016-10-24 20:20] fommil commented on #240
I thought of an evil hack... make the ivys empty but then transform the EnsimeConfig to point to hard coded jar files, assuming everything gets downloaded into the ivy folder. At that point you can access the scala version.

[2016-10-24 20:21] fommil commented on #240
@szeiger are you aware of an way to obtain the STARR jars in the scala sbt build?

[2016-10-25 12:36] fommil opened #241 "launchers should be scoped to compile"
i.e.

[code]

or it doesn't pick up the right envvars, javaOptions, etc.

[2016-10-25 12:47] fommil commented on #241
it's trickier than this, the launchTask needs to explicitly ask for a `Configuration` and use it when asking for `.value`s

[2016-10-25 12:50] fommil commented on #241
[code]

[2016-10-25 16:50] fommil commented on #241
AND the starting directory should be from the `baseDirectory` for that scope to match `runMain`

[2016-10-25 20:40] #241 closed, assigned to fommil

[2016-10-26 07:13] #234 closed, assigned to nobody

[2016-10-26 15:36] szeiger commented on #240
STARR is resolved as a normal Scala dependency through Ivy. You can get the locations of the JARs from the `scalaInstance`: https://github.com/scala/scala/blob/2.12.x/build.sbt#L106

[2016-10-26 16:47] fommil commented on #240
Interesting. We may need to refactor to support this, because currently we expect a list of ivy configs.

This scalaInstance trick might not work for `scalap`, which we also have to resolve. Hmm.

[2016-10-27 11:49] yyadavalli commented on #237
Are we planning to move the build to use `.sbt` format, I believe `Build` is deprecated currently

[2016-10-27 12:36] fommil commented on #237
in the build files, yes. That can be done now.

in our plugin, no it still needs to be written in .scala... but we'd use the macro api instead of the .map/.flatMap api. but until we can fix how the presentation compiler handles macros, that would dramatically slow me down because we'd lose ensime support.

[2016-10-27 12:37] fommil commented on #237
(btw, this ticket is about publishing a 1.0 compatible jar, not just _using_ sbt to build our plugin)

[2016-10-27 12:40] yyadavalli commented on #237
I know, just thought about if we are going to use it

[2016-10-27 12:42] fommil commented on #237
that'd definitely be nice, I've been putting it off for a long time. I also plan to build the sensible settings stuff as a plugin... I end up copy/pasting it everywhere.

[2016-10-27 15:18] szeiger commented on #240
You can look at `bootstrap/scalaOrganization` and `bootstrap/scalaVersion` if you want to resolve the dependencies on your own. I would assume that sbt internally builds an Ivy config from these settings but I haven't checked any further. These values are also valid for `scalap` because it is built as part of the core Scala repo.

Versions of other modules will be available from the compiler JAR i

[2016-10-27 15:24] fommil commented on #240
I think ivy is still getting into a circular dependency even with manually entered scala versions :confounded:

[2016-10-28 01:36] yyadavalli commented on #217
From gitter for future reference

[2016-10-28 06:12] fommil commented on #217
or maybe the name and config should both be top level and config could be optional.

[2016-10-28 13:58] mikesperber commented on #233
Just a note: I changed the example repo at:

[https://github.com/mikesperber/ensime-multi-project](url)

... to put the subproject in a subdirectory, and it still fails - i.e. only the subproject gets included in ENSIME's list.

However, I've noticed that this is tied to the format of the `build.sbt` in the subdirectory: If I change `bar/foo/build.sbt` to bare format, the `.ensime` file is generat

[2016-10-28 14:36] szeiger commented on #240
On which project are you setting it? Take a look at https://github.com/sbt/sbt/issues/1872. This is why we're going through the separate `bootstrap` project.

[2016-10-28 14:41] fommil commented on #233
this could be a bug with your setup, btw are you sure `file(".")` is relative to the file and not the starting directory of sbt?

[2016-10-28 14:46] fommil commented on #240
we have to define it on all projects because of the way ivy works, not `in ThisBuild`

https://github.com/ensime/ensime-sbt/blob/2.0/src/main/scala/EnsimePlugin.scala#L152-L163

if there was a canonical way to add it just to the root project, that would be enough for our purposes. I should experiment with setting it on `ThisBuild`

[2016-10-28 14:59] fommil commented on #240
yeah if that block is moved to build settings we get failures because the ivyConfigurations are not defined there

[code]

[2016-10-28 15:32] mikesperber commented on #233
I don't follow, I'm afraid. `file(".")` is what it says in the docs:

http://www.scala-sbt.org/0.13/docs/Multi-Project.html

What else should I put there?

[2016-11-01 10:26] fommil opened #246 "ensimeRunMain needs config too"
[code]

[2016-11-03 22:58] fommil opened #247 "depends-on logic for new format"
as discussed in #245

[2016-11-03 22:59] fommil opened #248 "name consistency"
in the new `.ensime` format, I want to go through and come up with a consistent set of names for all the fields. Cosmetic, initially, but ultimately solidifying the API of the config.

[2016-11-04 21:01] michalrus commented on #224
Works for me!

[2016-11-08 14:51] fommil opened #249 "stop trying to be too smart"
thanks to @dragos https://github.com/fommil/imaginary-friend/issues/18

[2016-11-09 09:25] fommil opened #250 "lots of things need to use the correct config"
e.g. `ensimeUnmanagedSourceArchives` needs to restrict to the `config`.

[2016-11-09 09:42] fommil commented on #250
and they need to be called for `Compile`

[2016-11-09 15:51] fommil opened #251 "scalariform in custom test phases"
`ensimeScalariformOnly` is not added to all the user's test configurations, we hard code `Test` and `Compile`.

We need a way of being able to attach this config onto all configs.

Maybe we should just make this project-level rather that `(project,config)` level.

@dwijnand any thoughts? It's basically https://github.com/sbt/sbt/issues/2534 isn't it? :confounded:

[2016-11-09 16:19] dwijnand commented on #251
Yep. See if moving to project-level works.

[2016-11-09 17:42] fommil opened #252 "add an ensimeJavaHome"
trivial. Should make it easier for people to use ensime 2.0 with java 6 and 7 projects.

[2016-11-09 20:37] fommil commented on #251
unfortunately that workaround won't do for the `compileOnly` task as classpaths are important

[2016-11-09 21:12] fommil commented on #180
kind of working, tracking what remains in #240

[2016-11-09 21:12] #180 closed

[2016-11-09 21:49] #250 closed, assigned to fommil

[2016-11-09 21:49] #251 closed, assigned to fommil

[2016-11-09 21:49] #252 closed, assigned to fommil

[2016-11-09 21:50] #246 closed, assigned to nobody

[2016-11-09 21:50] #249 closed, assigned to nobody

[2016-11-09 22:04] fommil commented on #217
some tidying up to do, but we're well on our way

[2016-11-09 22:04] #217 closed, assigned to nobody

[2016-11-09 22:09] fommil opened #254 "upgrade to sbt 0.13.13"
this is a big pain because it means updating all the test assertions.

and there was a test failure in the way the scala org is handled.

[2016-11-09 22:17] dwijnand commented on #249
I think no-adapt-args is both a smart and a sensible setting..

[2016-11-09 22:18] dwijnand commented on #250
Rule of thumb: anything filepath-based (including transitively) needs to specify project and config. Sadly.

[2016-11-09 22:23] dwijnand commented on #240
Here's a (deprecated method) hack to fetch artefacts: https://github.com/typesafehub/migration-manager/blob/b34b2b9bc8e60fd7bfe4f622214a6535358f4a6c/sbtplugin/src/main/scala/com/typesafe/tools/mima/plugin/SbtMima.scala#L108

It's deprecated so.. caveat emptor

[2016-11-09 22:45] fommil commented on #249
It seems to break the pc though

[2016-11-09 22:46] fommil commented on #250
Yeah that's OK, but to annoying thing is that there is no way to define tasks for user generated phases

[2016-11-09 22:46] dwijnand commented on #249
.. for co-smart, co-sensible people that want the compiler to adapt their args :)

[2016-11-09 22:48] dwijnand commented on #250
What's a phase?

[2016-11-10 06:10] fommil commented on #250
Config

[2016-11-10 07:50] dragos commented on #249
It doesn't really "break" the PC, it just looks like that because it's adding these arguments to the PC but not the build itself. It would fail in the same way in the batch compiler, should you pass that argument, of course.

[2016-11-10 07:57] fommil commented on #249
Ah, of course.

[2016-11-10 09:44] fommil opened #255 "working directory in launchTask"
needs

[code]

[2016-11-10 10:11] howard-wang-nl commented on #206
I tried the sbt coursier plugin. It causes a problem with test jar dependency resolving.  If the test task of project A depends on test jar of project B, `sbt test` of project A will fail to resolve symbols in test jar of project B.  Ivy2 doesn't have this problem.  This bug was reported https://github.com/alexarchambault/coursier/issues/318 .

So I agree with @alexandru on this discussion.

[2016-11-10 10:24] fommil commented on #206
@howardlunatech you should file a reproduction with coursier in that case. Much to Alex's credit, he has fixed the bug, so I don't see what the problem is.

[2016-11-10 10:29] howard-wang-nl commented on #206
@fommil Seems already reported and fixed in https://github.com/alexarchambault/coursier/pull/373 but not released to public repo yet?  At least I followed the doc of ensime-vim to setup and this problem wasted me a lot time to track down the cause.  So it will in effect drive users off Ensime, thus not good to advocate Coursier in this stage yet.

[2016-11-10 11:45] fommil commented on #206
you seem to mistake our intentions, our goal is not to get more users of ensime... it is to make a free/libre scala editing platform that give our users the freedom to hack their editor. From the main website:

[2016-11-10 20:55] fommil opened #257 "use java 6"
then people can still use ensime 2.0 with jdk6 projects by using this plugin and providing a path to a jdk8 to run the ensime server.

[2016-11-10 21:01] luisgerhorst opened #258 "org.ensime and others missing after following SBT install guide"
After follwing the [install section of the SBT guide](http://ensime.github.io/build_tools/sbt/#install) `~/.ivy2/cache/org.ensime/` and several other subfolders of `~/.ivy2/cache` were missing which caused the following error when running `M-x ensime`:

[code]

Several `org.ensime` paths were included in the classpath thought. Deleting `~/.ivy2` and rerunning `sbt` in the project did not help. Run

[2016-11-10 21:07] fommil commented on #258
Can you please give a reproduction in the form of a unit or integration test? A github repository with exact instructions for somebody to follow, like a script, is also a good starting point. We are more than happy to help you turn it into an automated test, and discuss ideas on how to fix it. Read the http://ensime.org/contributing guide for more information.

We close tickets that look like a kn

[2016-11-10 21:07] #258 closed, assigned to nobody

[2016-11-10 21:11] luisgerhorst commented on #258
No problem, I'm sorry but I currently don't have the time to put that much effort into this. Just wanted to dump this in here and maybe it helps someone.

[2016-11-10 21:14] fommil commented on #258
it's sounds like you should have just followed the troubleshooting guide. This is the no. 1 issue.

[2016-11-10 21:22] luisgerhorst commented on #258
Ah I see, I somehow did not get to it since I was only looking at `sbt` troubleshooting guide and FAQ. Thanks!

[2016-11-10 21:29] fommil commented on #258
it can sometimes be difficult to find the right component, but a good rule of thumb is that it's the emacs side that has gone wrong unless you have dug deeper and know exactly which component is broken and can write a test case proving it.

[2016-11-10 21:51] #255 closed, assigned to nobody

[2016-11-10 21:51] #257 closed, assigned to nobody

[2016-11-11 19:36] fommil opened #259 "support typelevel scala"
a dependency of https://github.com/ensime/ensime-emacs/issues/549

- needs a test
- might be hit by regressions in sbt 0.13.13 #254
- needs to add the scala organisation to the `.ensime`

requested by @raulraja

I'd be happy to help but this is way beyond my sbt foo --- it involves ivy configurations and so on.

[2016-11-12 08:42] fommil opened #260 "use coursier to resolve scala and ensime-server"
If we define tasks that return File for the scala/ensime jars,  we could remove our ivy mess/hacks and remove a bunch of work from the clients.

The implementation of those tasks could be in a separate autoplugin so people behind corporate firewalls could implement their own and not depend on coursier.

@alexarchambault this code unfortunately is java 6. Have you abandoned that branch? It would be

[2016-11-12 13:43] fommil commented on #260
@pascr when this is done, you could look into implementing/simplifying the atom code

[2016-11-12 16:57] milessabin commented on #259
Can you say something about what's not working/needs to be done?

[2016-11-12 19:04] fommil commented on #259
If somebody could write a test for a simple project that uses typelevel scala, then we'll have a good idea. We use standard scripted tests, documented under our contributing page.

[2016-11-12 22:26] asarkar opened #261 "Setting ensimeScalaVersion as instructed in doc fails"
http://ensime.github.io/build_tools/sbt/

Reality:
[code]

[2016-11-12 22:32] fommil commented on #261
Not in the project dir.

And please, read the troubleshooting guide. Raising a ticket is not your first point of contact.

[2016-11-12 22:32] #261 closed, assigned to nobody

[2016-11-12 22:33] asarkar commented on #261
@fommil Doc says in the project dir.

[2016-11-12 22:49] fommil commented on #261
Then send a pr to the doc page.

[2016-11-12 22:52] fommil commented on #261
Should probably say "in your project's base directory"

[2016-11-12 22:53] asarkar commented on #261
Gladly, if I know where the page is. Sorry, just getting started with Atom and Ensime.

[2016-11-12 23:01] fommil commented on #261
Every page has an edit button at the bottom. Please use gitter next time you hit an issue, we don't use the issue tracker for support.

[2016-11-12 23:06] asarkar commented on #261
Done, and thanks for the help. Will use gitter next time, like I said, just getting started.
https://github.com/ensime/ensime.github.io/pull/185

[2016-11-13 01:15] raulraja commented on #259
I'll work on one tomorrow that shows the issue I encountered. Thanks for
the interest on addressing this.

On Sat, Nov 12, 2016, 8:04 PM Sam Halliday notifications@github.com wrote:

[2016-11-13 08:14] fommil commented on #259
I just had deju vu and then realised that we did this already https://github.com/ensime/ensime-sbt/tree/2.0/src/sbt-test/sbt-ensime/different-scalaorganization

It might be that you need to make sure you use scalaOrganisation in ThisBuild. This might just be an Emacs side issue.

[2016-11-13 08:15] fommil commented on #259
#260 might be the best way to proceed

[2016-11-13 10:42] fommil commented on #237
blocked by https://github.com/sbt/sbt/issues/2829

[2016-11-13 10:43] fommil opened #263 "remove deprecated APIs"
since 1.11.3 we should now have an improved dev experience using macros, so we don't really have a strong excuse anymore for using the deprecated APIs.

[2016-11-13 17:29] raulraja commented on #259
@fommil @milessabin confirmed that it works with `scalaOrganization in ThisBuild := "org.typelevel"`.
@fommil Is this part of the issues related to multi-module projects? Feel free to close this one if unrelated to the `scalaOrganization`.

[2016-11-13 19:45] fommil commented on #259
I'm surprised it works on the client side! I think #260 will solve this properly because right now if you look in your classpath file you'll see a bunch of typesafe jars in there, not typelevel.

`in ThisBuild` is the right thing to do for anything that's project-wide, so that's not a bug. But if you could update the sbt-ensime docs to use this as an example of using typelevel scala that would be

[2016-11-13 19:45] #259 closed, assigned to nobody

[2016-11-16 16:33] alexarchambault commented on #206
@howardlunatech FYI https://github.com/alexarchambault/coursier/pull/373 is included in coursier `1.0.0-M14-7` and `1.0.0-M14-8`.

[2016-11-16 22:18] fommil commented on #260
WIP https://github.com/fommil/ensime-sbt/tree/coursier

[2016-11-16 22:36] #263 closed, assigned to nobody

[2016-11-18 13:00] bollmann opened #266 "Could not open JAR file "org.eclipse.jdt.core-3.10.0-sources.jar""
I just installed the latest (unstable) ensime package `20161110.1316` from the emacs melpa repository. After adding the plugin to `~/.sbt/0.13/plugins/plugins.sbt` as
[code]
I can run the `sbt ensimeConfig` command to create my project's `.ensime` file. Part of the dependencies being downloaded is the jar `org.eclipse.jdt.core-3.10.0-sources.jar` from maven. However, this jar is completely empty,

[2016-11-18 13:01] fommil commented on #266
Troubleshooting guide

[2016-11-18 13:01] #266 closed, assigned to nobody

[2016-11-20 20:49] fommil commented on #235
#260 makes this possible again

[2016-11-20 20:49] fommil commented on #240
#260 should make this trivial, I hope

[2016-11-24 22:24] fommil commented on #260
this is coming along much better than I could have expected, I think it works in my branch. Just going through all the test assertions (with a big change like this, it's lots of changes...)

https://github.com/fommil/ensime-sbt/tree/coursier

[2016-11-24 22:25] fommil commented on #260
@raulraja btw, getting scala org support this way is pretty trivial

[2016-11-24 22:32] raulraja commented on #260
Looking forward to try it out!

[2016-11-24 22:33] fommil commented on #260
I'm hoping to have this ready sometime on Saturday, but not promising anything because I have a trip to the Mun planned :wink:  http://wiki.kerbalspaceprogram.com/wiki/Mun

[2016-11-25 11:26] fommil opened #268 "create missing directories with option to skip"
nobody is paying attention to the warning

[2016-11-25 11:27] fommil opened #269 "exception if there are sources in root"
nobody is paying attention to the error. Require an override to acknowledge

[2016-11-25 13:35] fommil opened #270 "remove use of deprecated APIs"
I have no idea how... https://github.com/ensime/ensime-sbt/blob/v1.11.3/src/main/scala/EnsimePlugin.scala#L112-L137

@dwijnand

[2016-11-25 14:33] fommil commented on #270
https://github.com/JetBrains/sbt-structure/blob/master/extractor/src/main/scala-sbt-0.13/org/jetbrains/sbt/CreateTasks.scala#L19-L29

[2016-11-25 14:40] fommil commented on #270
also, factoring out into a separate method might be good https://github.com/JetBrains/sbt-structure/blob/master/extractor/src/main/scala-sbt-0.13/org/jetbrains/sbt/extractors/RepositoryExtractor.scala#L80-L103

[2016-11-25 14:52] #240 closed, assigned to nobody

[2016-11-25 14:52] #254 closed, assigned to nobody

[2016-11-25 14:52] #260 closed, assigned to nobody

[2016-11-26 11:18] fommil commented on #235
this is not possible to implement since `ensimeScalaVersion` is now a `Task`, not a `Setting`, so can do a lot more

[2016-11-26 12:06] fommil commented on #270
the `ensimeServerVersion` task also breaks the macro rules too... same thing, I need access to the state to get the list of projects.

[2016-11-26 12:14] #235 closed, assigned to nobody

[2016-11-26 12:14] #268 closed, assigned to nobody

[2016-11-26 12:14] #269 closed, assigned to nobody

[2016-11-26 12:15] fommil commented on #248
I want to do this before making a release today

[2016-11-26 12:15] fommil commented on #233
did you get any further with this? If you've given up, we could just close it

[2016-11-26 16:04] fommil opened #274 "support sbt projects with main project using typelevel scala"
blocked on https://github.com/sbt/sbt/issues/2814

[2016-11-26 16:14] #248 closed, assigned to fommil

[2016-11-26 16:43] fommil opened #275 "java.lang.NoSuchMethodError: coursier.CachePolicy$.default()Lscala/collection/Seq;"
sbt-ensime uses a version of coursier that works on java 6 and is incompatible with the mainline version, tracked in https://github.com/alexarchambault/coursier/issues/397

you must downgrade your project to:

[code]

and I'm sure @alexarchambault would appreciate some help closing the coursier ticket.

[2016-11-26 16:46] fommil opened #276 "[error] Missing task key: ensimeServerJars"
this is actually a manifestation of #275 and following the Troubleshooting Guide (you **did** follow the guide, right?) and deleting your coursier cache for sonatype snapshots should clean it up.

[code]

[2016-11-26 16:46] #276 closed, assigned to nobody

[2016-11-26 17:17] fommil opened #277 "java.lang.NoSuchMethodError: scalaz.EitherT.orElse(Lscala/Function0;Lscalaz/Bind;)Lscalaz/EitherT;"
discovered by @dragos we are incompatible with sbt-eclipse.

This is actually because of incompatible scalaz versions and if you would like to fix it, please help fix the upstream report https://github.com/alexarchambault/coursier/issues/25

[code]

[2016-11-26 17:18] fommil commented on #277
workaround is to 1) remove the other plugin, or 2) disable the new server jar resolver and put this in a `ensime.sbt`

[code]

but you'll also lose the ability to use the ensime repl or use assembly jars.

[2016-11-28 02:33] timcharper opened #280 "NoSuchMethodError when upgrading from coursier M14 to M15"
It looks like ensime depends on something that coursier that broke in M15. Getting the following stack trace with coursier M15 and ensime-sbt `1.12.0`:

[code]

[2016-11-28 06:14] fommil commented on #280
known issue

[2016-11-28 06:14] #280 closed, assigned to nobody

[2016-11-28 06:15] timcharper commented on #280
Where? I searched and didn't see it.

[2016-11-28 06:18] timcharper commented on #280
Oh, I see the pull request: https://github.com/ensime/ensime-sbt/pull/279

[2016-11-28 06:20] fommil commented on #280
it's got a particularly nasty upgrade path...

[2016-11-28 06:21] timcharper commented on #280
... indeed. The bleeding edge cuts both ways.

[2016-11-28 07:17] #275 closed, assigned to nobody

[2016-11-28 07:17] #277 closed, assigned to nobody

[2016-11-29 16:19] fommil opened #283 "scala library (and jars/sources) not resolved for 2.10 projects"
regression, looks like 2.10 projects are reusing sbt's resolved scala-library (without sources or docs) instead of trying to resolve from the explicit coursier Repositories.

@alexarchambault does this ring a bell? this will be happening for normal scala projects just through the basic `updateClassifiers` mechanism

[2016-11-29 16:29] fommil commented on #283
reported upstream https://github.com/alexarchambault/coursier/issues/402 but I'm still not 100% sure what the problem is.

[2016-11-29 16:47] fommil commented on #283
our tests missed this because we don't have any tests projects using the default scala version. when there is a fix, we should change `simple-build-scala` to use the default scala version.

[2016-11-29 17:08] alexarchambault commented on #283
@fommil That totally rings a bell. I made sbt-coursier provide SBT's resolved libraries, as SBT was putting them in the applications classpath anyway (via some classloader magic). Which should make `updateClassifiers` fail to find sources / javadoc for these.

The fix would involve just making the special internal repository of sbt-coursier, which provides SBT's resolved libs, a bit more evolved,

[2016-11-29 17:19] fommil commented on #283
ok, good to hear. As a workaround for now, is there any way to force it to ignore the boot jars? I don't believe the boot jars are added if `fork:=true`

[2016-11-29 17:23] fommil opened #284 "ensimeRunMain doesn't work in functional tests"
probably missing a config reference somewhere

[2016-11-29 17:27] fommil commented on #284
ignore me, we don't even define it outside of `Compile`. Simple project specific fix.

[2016-11-29 17:27] #284 closed, assigned to nobody

[2016-12-01 07:28] fommil opened #285 "ensime-server-jars should contain tools.jar"
Otherwise all clients have to add it

[2016-12-01 15:22] mikesperber commented on #233
For now, I've given up I'm afraid ... Just not enough time. So feel free to close!

[2016-12-01 15:24] #233 closed, assigned to nobody

[2016-12-01 22:23] fommil opened #287 "task to index and exit"
now that we can calculate the jars, we can start the server. That's not interesting in itself (I still think the client should manage the server lifecycle... but I'm open to persuasion on it) but it allows us to manually launch a server in index and exit mode `ensime.exitAfterIndex`

[2016-12-02 00:59] #285 closed, assigned to nobody

[2016-12-04 21:07] #283 closed, assigned to nobody

[2016-12-07 19:08] ches opened #289 "Confirm/fix path to tools.jar"
See #286—since that merge `tools.jar` is in `:ensime-server-jars` in `.ensime` but its path there is `JAVA_HOME/tools.jar`. On my Oracle JDK installs on OS X (1.7 and 1.8), it's actually at `JAVA_HOME/lib/tools.jar` (yes, yes, look at all that non-libre software 😇).

Trivial fix if the missing `lib` path component was indeed a mistake, I just need a minute to verify if the location is consistent a

[2016-12-07 20:06] fommil commented on #289
I'm just an idiot... it's lib/tools.jar here. I'll fix and release .4 tonight. Thanks for the report!

[2016-12-07 21:02] #289 closed, assigned to nobody

[2016-12-09 08:01] fommil opened #291 "Java formatter"
TIL https://github.com/typesafehub/sbt-java-formatter

Could power an ensimeFormatOnly for .java files

We need to be real careful about licenses. If it depends on the maven/eclipse formatter it introduces EPL code into the build.

Closes https://github.com/ensime/ensime-server/issues/1402

@ktoso

[2016-12-09 09:31] ktoso commented on #291
Yeah it pulls in the eclipse formatter AFAIR.
We have not yet used it much btw, but feel free to use.

[2016-12-09 09:41] fommil commented on #291
@ktoso possibly not, the EPL is explicitly incompatible with the GPL. But it might be ok because our sbt plugin is Apache 2.0. But I wouldn't want to force that on users, since it restricts their freedom. Nevertheless, this ticket belongs here. Feel free to unsubscribe if it's not of interest.

[2016-12-17 05:26] arigoldx opened #293 "Can't seem to set ensimeIgnoreScalaMismatch"
Hi there,

I read the help a few times and, after grokkin' this:

I thought posting something here would be better 'cause gitter didn't seem like the place.

That said... should this be sufficient for a project-wide ensime.sbt file?

[code]

There wasn't much info about `ensimeIgnoreScalaMismatch` online so I searched the github repo to see how it was used and found [a test](https://github.com/ens

[2016-12-17 09:26] fommil commented on #293
Yeah sure, feel free to ignore the explicit advice we've given, that makes our lives easier. Gitter is for support, github is for actual bugs.

[2016-12-17 09:26] #293 closed, assigned to nobody

[2016-12-17 09:28] fommil commented on #293
Fwiw. It's probably something like `ensimeThing in LocalProject("foo") := true`

Please use gitter next time.

[2016-12-17 18:28] alex3kov opened #294 "Not working with Scala 2.12.1 and sbt 0.13.13"
Reproduction:
[code]

[2016-12-17 18:32] fommil commented on #294
Troubleshooting. Always use troubleshooting.

[2016-12-17 18:32] #294 closed, assigned to nobody

[2016-12-17 18:45] arigoldx commented on #293
A thousand pardons.. I really did try to cover all my bases. 'suppose I was confused by:

I use GH a lot but maybe I misunderstood what you meant by the "github issue tracker"... it won't happen again.

[2016-12-17 19:45] alex3kov commented on #294
Okay, I looked at [this](https://ensime.github.io/build_tools/sbt/#troubleshooting), went through [FAQ tickets](https://github.com/ensime/ensime-sbt/issues?q=label%3AFAQ), the only similarly looking issue is #276, so I did `rm -rf ~/.coursier/cache/v1/https/oss.sonatype.org/content/repositories/snapshots` - didn't help. I also should've mentioned that everything works well at 2.11.8.

[2016-12-17 21:50] fommil commented on #294
ensime-server recent tickets

[2016-12-17 21:51] fommil commented on #293
A pr to update the docs world be appreciated. Support is gitter only, and purely volunteer basis.

[2016-12-17 22:18] alex3kov commented on #294
So not troubleshooting, huh?
Could you clarify a bit please - do you mean #1673 aka "everything is broken", or something else? There are plenty of tickets, none seem directly related.

[2016-12-17 22:47] fommil commented on #294
Troubleshooting leads you to search recent activity on server tickets, wherein you find this very actively discussed ticket https://github.com/ensime/ensime-server/issues/1414

The troubleshooting guide recommends that you use gitter not github, because that way everybody in the ensime userbase can respond, not just me (I'm the only person actively responding to the issue tracker and it is reserve

[2016-12-17 23:22] arigoldx commented on #293
[Done](https://github.com/ensime/ensime.github.io/pull/196).

[2016-12-18 16:42] Sarrouna commented on #21
I have a self-contained application in SBT. My data is stored on HDFS (the hadoop file system).How can I get a jar file to run my work on another machine.
The directory of my project is the following:

/MyProject
   /target
        /scala-2.11
                 /MyApp_2.11-1.0.jar
   /src
      /main
           /scala

I want to get my jar file or how to copy it in my local disc.

[2016-12-18 18:08] fommil commented on #21
@sarrouna sure, just feel free to ignore all the documentation we've written, and while you're at just go and comment on a completely unrelated github ticket from 2 years ago. Honestly, it'll be grand. Go you.

[2016-12-26 17:58] #222 closed, assigned to nobody

[2017-01-05 11:26] elbaulp opened #297 "Not able to debug application"
Hi, when I try to debug an app, the only command that works to control the execution of the debugger is `C-c C-d c` (continue), If I want to step the debugger to the next line (`C-c C-d n`) nothing happens. I've created a minimal project here https://github.com/algui91/ensimedebug

### Steps to reproduce

[code]

Now, in emacs:

1.  open the project, run `M-x ensime`.

The output of *ENSIME*-hello

[2017-01-05 11:38] fommil commented on #297
Can you please give a reproduction in the form of a unit or integration test? A github repository with exact instructions for somebody to follow, like a script, is also a good starting point. We are more than happy to help you turn it into an automated test, and discuss ideas on how to fix it. Read the http://ensime.org/contributing guide for more information.

We close tickets that look like a kn

[2017-01-05 11:38] #297 closed, assigned to nobody

[2017-01-05 11:38] fommil commented on #297
I think you meant to raise this on ensime-emacs

[2017-01-05 11:40] elbaulp commented on #297
Ups, right, I will post it in ensime-emacs. Thanks

[2017-01-09 10:29] fommil opened #298 "allow the user to provide a cache directory"
that way you could put the cache into a volatile memory space and save SSD lifetime for long lived machines with memory to burn.

[2017-01-09 22:53] #298 closed, assigned to nobody

[2017-01-09 22:55] #287 closed, assigned to nobody

[2017-01-09 22:56] fommil commented on #247
@yyadavalli we can't forget about this before doing much more on the server side...

[2017-01-09 22:57] fommil commented on #247
the ensime-server example project should have two interproject dependencies in it that aren't working right now: server's tests depend on core's test (same for the integration tests).

It should also be relatively easy to have a new multi-project test project that has something similar, will make it a lot quicker to test.

[2017-01-10 04:54] yyadavalli commented on #247
@fommil sure, I'll try to do it this weekend. I might already have a test like that lying around.

[2017-01-24 16:06] fommil opened #301 "shade the coursier dependency"
like they do here https://github.com/alexarchambault/coursier/pull/426 so we don't pull in a transitive dependency on coursier (at the cost of binary bloat)

[2017-01-26 13:05] fommil opened #302 "support multiple versions of scala"
apparently not supporting multiple versions of scala was a big reason for this company to move from Scala to Go https://movio.co/blog/migrate-Scala-to-Go/

Although the server can only run one version of scala at a time (by design) there is no reason why there can't be multiple `.ensime` files for a project. In fact, we already support project subsets (parameters to `ensimeConfig`) and multiple sc

[2017-01-26 13:06] fommil commented on #302
For the avoidance of doubt, this is not something that impacts me at my work (currently) so it is unlikely that I will work on this ticket.

It is, however, something that I'd be happy to do under contract or advise on if a contributor steps forwards. I estimate it's a good two full weeks of work, since it involves touching the internals of sbt.

[2017-02-02 17:53] lalet commented on #105
Thanks. The big data university course has the the same bug but when I tried with brackets it works.

Use this line and it should work fine.

[2017-02-21 20:10] clamus opened #303 "Include sources for dependencies when the source code in not found in repos"
Is there a way to include source code for dependencies when the source code is not published in the corresponding maven repo, but the source code is in different location (either in local machine or other repo)? In this case, ensimeConfig prints a warning, but I would like to some how tell it where the source actually is.

[2017-02-21 21:46] fommil commented on #303
Closing because this is a question not a bug.

There should be an ensimeSourceDirs or something like that, or you could transform the ensimeConfig object with a transformer. I'm pretty sure the server just works, but I may be mistaken.

[2017-02-21 21:46] #303 closed, assigned to nobody

[2017-02-21 21:46] fommil commented on #303
Have a look through the keys at any rate and you might get some ideas.

[2017-02-21 22:16] clamus commented on #303
Thanks! The key is ensimeUnmanagedSourceArchives

[2017-03-01 16:01] mruediger opened #304 "unresolved dependency: org.ensime#sbt-ensime;1.12.5: not found"
### Steps to reproduce

1. add resolvers += Resolver.sonatypeRepo("snapshots")`  to `~/.sbt/0.13/plugins.sbt`
2. add `addSbtPlugin("org.ensime" % "sbt-ensime" % "1.12.5")` to `~/.sbt/0.13/plugins.sbt`
3. run `sbt ensimeConfig` in an project just created with `sbt new sbt/scala-seed.g8`

### Expected behaviour

the creation of a `.ensime` file

### Actual behaviour

`sbt` cannot find `sbt-ensime-1.

[2017-03-01 22:16] fommil commented on #304
Read the docs again. The bit you missed is in bold text.

[2017-03-02 10:43] mruediger commented on #304
Thanks! m) I will have a look if I can rephrase that part of the documentation to make it more obvious and send out a PR. Its a bit hard to get, as you might have noticed. I am no native English speaker which might be the cause.

[2017-03-03 12:11] fommil opened #306 "fix the build"
I brokened it all

[2017-03-03 16:52] fommil commented on #237
the biggest thing we could do would be to use `Task` instead of `Command`

[2017-03-04 11:34] #306 closed, assigned to nobody

[2017-03-06 21:19] gargsharad opened #309 "Failed to download coursier ensime server"
Failed to download coursier ErrorClass {message: "Response code 404 (Not Found)", host: "git.io", hostname: "git.io", method: "GET", path: "/v2L2P"…}host: "git.io"hostname: "git.io"message: "Response code 404 (Not Found)"method: "GET"name: "HTTPError"path: "/v2L2P"stack: (...)get stack: stack()set stack: stack()statusCode: 404statusMessage: "Not Found"__proto__: Error
Unhandled promise rejection P

[2017-03-06 21:20] gargsharad commented on #309
I am an entry level Atom user but this caused 3 fresh reinstalls of atom and ensime

[2017-03-06 21:51] fommil commented on #309
This is not the correct repo, please follow instructions on the website.

[2017-03-06 21:51] #309 closed, assigned to nobody

[2017-03-07 16:21] kbrowder opened #310 "Overriding ensimeResolvers"
Hi, trying to use this behind a corporate firewall with limited access to the outside world.  We've got a maven proxy that has access, but I can't get ensime to use my repository file, I think this is because ensime has hardcoded urls.

### I tried

EnsimeCoursierKeys.ensimeResolvers := Seq(
    coursier.MavenRepository("http://my-proxy/content/groups/public/")
    )

### Expected behaviour

Gets

[2017-03-07 16:28] fommil commented on #310
try adding `... in ThisBuild := Seq(...)`.

BTW, I use this approach http://ensime.org/contributing/#manual-qa-testing with the jars from http://ensime.typelevel.org/

[2017-03-07 16:28] #310 closed, assigned to nobody

[2017-03-07 16:28] fommil commented on #310
double documented http://ensime.org/build_tools/sbt/#customise

[2017-03-07 16:29] fommil commented on #310
hmm, I used to have this under a section called "Behind a Corporate Firewall". If you send a pr to the docs to bring that back, I'd merge it.

[2017-03-07 16:39] kbrowder commented on #310
Hmmm, I missed those somehow.
Any idea if there's a way to not specify the exact file?  We have all this wonderful machinery for resolving dependencies and it'd be nice to not have to throw that away in this case.

[2017-03-07 16:52] kbrowder commented on #310
I think I almost have it in a some common properties (so implicitly in ThisBuild):
[code]

I think just sbtScalaVersion is wrong since it's picking up the version from the project not the version from sbt.

[2017-03-07 17:42] fommil commented on #310
you skipped the first part of my reply

[2017-03-07 17:43] fommil commented on #310
I don't know how that would be wrong, sounds like a build configuration issue. Glad it's working.

[2017-03-07 18:36] kbrowder commented on #310
Ya, it was basically a build configuration issue, that I misread, using scala 2.12...  The above worked for 2.11, and for 2.12 there's some wrangling with version numbers.

I'm not sure why I have to add the ensime*Jars but it doesn't seem to work without it.

I may think about adding that pull request for docs as you suggested.  It seems there's two cases you'd want to be able to use a proxy/mirr

[2017-03-07 19:19] fommil commented on #310
It's not about bandwidth. Some places, one jar in all you can get through the admin.

[2017-03-07 19:23] kbrowder commented on #310
I see, so that's a different scenario than I was thinking (or am in) though I guess that's also common.

(edit: this must be a really tough scenario for people to deal with in general, dependency trees have gotten pretty deep since the advent/popularity of maven)

[2017-03-10 15:40] fommil commented on #301
@alexarchambault could you please help me with this? I couldn't understand how to do it :fearful:

[2017-03-10 17:18] fommil opened #313 "maybe we shouldn't default ensimeServerVersion"
it would force people to specify which version of the server to use. We could have a helpful error message for people already using ensime with the default.

[2017-03-23 09:44] fommil opened #315 "Support for 2.12.2's jarurl fix"
Allowing us to remove the scalac monkey for 2.12

[2017-03-24 16:53] fommil commented on #313
or default it to 2.0.0-SNAPSHOT for now (since 1.0 clients don't support it)

[2017-03-24 17:23] #301 closed, assigned to nobody

[2017-03-24 17:32] #270 closed, assigned to nobody

[2017-03-24 18:47] #274 closed, assigned to nobody

[2017-03-24 18:47] #313 closed, assigned to nobody

[2017-03-24 18:47] #315 closed, assigned to nobody

[2017-03-25 23:46] apauzies commented on #294
@alex3kov

I created this file: ~/.sbt/0.13/global.sbt
with:
import org.ensime.EnsimeCoursierKeys._
ensimeServerVersion in ThisBuild := "2.0.0-SNAPSHOT"

And changed sbt-ensime to version 1.12.8 and it worked.

[2017-03-26 01:22] fommil commented on #294
Glad to hear that following the documentation worked for you.

[2017-04-05 14:44] fommil opened #318 "output ensime-server-version to .ensime"
would be really useful to have this in the clients without having to grep the classpath. Means we have to trust anyone who overrides the jar path to do the right thing.

[2017-04-17 15:33] fommil opened #319 "add decent string/symbol table sizes"
we should probably add this to the `ensimeJavaFlags` when java8+

[code]

[2017-04-20 15:00] amanjpro opened #320 "A gitter channel for ensime-sbt?"
It will be great to have `ensime-sbt` gitter channel. There are bits that do not exactly fit in issues but still need to be asked/discussed

[2017-04-20 15:49] fommil commented on #320
@amanjpro I'm happy using `ensime-server` room for anything to do with the build tools because there is hardly anybody working on it.

[2017-04-20 15:49] #320 closed, assigned to nobody

[2017-04-21 19:56] fommil opened #321 "coursier downloader not updating regularly?"
I'm pretty sure coursier is no longer updating the jar cache.

[2017-04-21 20:39] gaydenko commented on #321
I guess you are right. From time to time to get something new I delete ensime related directories form the cache. I was sure it is expected situation for development branch :)

[2017-04-22 12:50] fommil commented on #321
@alexarchambault did anything change in this area or is there something we need to do to make snapshots expire in the cache? https://github.com/ensime/ensime-sbt/blob/2.0/src/main/scala/CoursierHelper.scala#L75

[2017-04-24 08:23] fommil opened #322 "allow different ensimeServerVersion for main and project"
the only dependency to drop https://github.com/ensime/ensime-server/issues/1766

this allows desperate folk to use 2.0.0-M1 for their `project` files (until we break the API beyond use, at which point somebody needs to add multi-protocol support in whatever client they want to use)

[2017-04-27 13:36] alexarchambault commented on #321
Ok, found it, I think. The line you're pointing at should look like [this one](https://github.com/alexarchambault/ammonium/blob/a506a30798188056b2b810d97de4cdf17923e8e6/amm/runtime/src/main/scala/ammonite/runtime/tools/DependencyThing.scala#L76-L82) (using all the "cache policies" in particular).

Sorry about it, I've been beaten by that too... :-\ I hope to come up with a smoother higher level AP

[2017-04-27 16:39] fommil opened #324 "bump the default heap size"
until we get backpressure in the server we should bump the default heap size to 2g https://github.com/ensime/ensime-server/issues/1756

[2017-04-27 16:41] fommil commented on #321
nice, well found!

[2017-04-27 23:29] #247 closed, assigned to nobody

[2017-04-28 09:04] #321 closed, assigned to nobody

[2017-04-28 21:33] #322 closed, assigned to nobody

[2017-04-28 23:37] #318 closed, assigned to nobody

[2017-04-28 23:37] yyadavalli commented on #318
Issue resolved in #327

[2017-04-30 12:47] #319 closed, assigned to nobody

[2017-04-30 14:16] #324 closed, assigned to nobody

[2017-04-30 14:20] fommil opened #330 "ensimeCompileOnly should accept parameters"
instead of having its own configuration it would be very convenient to have a parser that accepts parameters to scalac.

e.g. `foo/ensimeCompileOnly -Xprint:typer /path/to/foo.scala` or `foo/ensimeCompileOnly -X`

[2017-05-04 20:55] fommil opened #331 "coursier still not updating snapshots"
@alexarchambault

:point_up: [May 4, 2017 9:52 PM](https://gitter.im/coursier/coursier?at=590b947812f05b512a2d191f)

looks like sbt-ensime is still not updating the snapshot jars as expected... e.g.

[code]

and on https://oss.sonatype.org/content/repositories/snapshots/org/ensime/api_2.12/2.0.0-SNAPSHOT/

[code]

did we miss something out in https://github.com/ensime/ensime-sbt/blob/2.0/src/main/

[2017-05-04 20:56] fommil commented on #331
@timcharper

[2017-05-05 12:58] alexarchambault commented on #331
The second line should take into account cache policies too, like done [here](https://github.com/alexarchambault/ammonium/blob/cb6efe091ea1b8fd83a65737cbb18fa4ba4d8eb1/amm/runtime/src/main/scala/ammonite/runtime/tools/DependencyThing.scala#L104-L111).

[2017-05-05 13:26] fommil commented on #331
Thanks Alex!

[2017-05-05 18:39] #331 closed, assigned to nobody

[2017-05-08 21:30] fommil opened #333 "default server version should be friendly to 2.10"
we should probably use `ensimeScalaVersion` when setting `ensimeServerVersion` and auto flip to `2.0.0-M1` for scala 2.10.

[2017-05-09 14:45] bomgar opened #334 "coursier RC2 causes the server to crash"
### Steps to reproduce

1.  use coursier 1.0.0-RC2
2. run ensimeConfig
3. start ensime in emacs

### Expected behaviour
It should work the same way it does with coursier 1.0.0-RC1

### Actual behaviour
A lot of error messages and the server terminates

[code]

[2017-05-09 15:15] fommil commented on #334
this report is basically no use without an example project that demonstrates the problem. Can you please put something up on github with the dependencies that cause a problem?

[2017-05-09 15:17] fommil commented on #334
also, you may need to raise this as a bug with coursier, depends what @alexarchambault thinks. But we need a repro project before saying anything.

[2017-05-09 15:28] alexarchambault commented on #334
This line shows that corresponds to what was discussed on the Gitter of coursier,
[code]

Filtering the artifacts on their type should fix that.

[2017-05-09 15:32] bomgar commented on #334
I compared the `.ensime` files. The `.asc` files are listed in `:library-sources` with the new version of coursier. With RC1 this wasn't the case.

[2017-05-09 15:37] bomgar commented on #334
It happens with https://github.com/21re/cli-micro-tools
The project doesn't compile with RC1 though because of a bug in coursier.

The other projects where I encounter this problem are private.

[2017-05-09 16:56] fommil commented on #334
@alexarchambault our use of coursier is to download the ensime server. This seems to be when the user is using coursier to resolve their own dependencies. In which case we call the standard sbt API here https://github.com/ensime/ensime-sbt/blob/2.0/src/main/scala/EnsimePlugin.scala#L403-L406

[2017-05-09 16:57] fommil commented on #334
@bomgar if you don't user coursier, does ensime work ok?

[2017-05-09 17:32] mriehl commented on #334
Hi all,

I have the same problem as @bomgar with the exact same setup.
I've tested https://github.com/21re/cli-micro-tools without coursier and it works "fine" (aside from the fact that sbt takes a bloody long time to resolve everything with ivy).

Also, removing the bintray plugin from https://github.com/21re/cli-micro-tools ensime works fine with coursier RC1 (it's due to https://github.com/cour

[2017-05-09 17:52] fommil commented on #334
hmm, this seems like a bug in coursier RC2 as far as I can tell... it's providing `.asc` files when we ask for source artifacts. @alexarchambault does that sound about right?

[2017-05-09 17:53] fommil commented on #334
as a workaround to get @bomgar @mriehl up and running, have a look at `ensimeConfigTransformer` which lets you manually filter whatever you want.

[2017-05-09 17:57] bomgar commented on #334
@fommil would it be a good idea to patch the ensime server so that invalid zip files are ignored? Log the error and continue with what is working?

[2017-05-09 18:00] fommil commented on #334
@bomgar no, that just hides the fundamental problem. A core principle of ensime-server is that it fails if given bad input, rather than trying to handle all possible corner cases and then overly complicate the code. It'd also be easier from a practical point of view to just patch the `EnsimePlugin` to filter non jar/zip files in that line. I'd accept a PR to do that.

[2017-05-09 18:00] fommil commented on #334
(you can also drop `EnsimePlugin.scala` into your `project` dir and hack around... so long as you don't break bin compat)

[2017-05-09 22:58] alexarchambault commented on #334
When processing the list of artifacts, you should filter them on their `type` field, like done [here](https://github.com/alexarchambault/ammonium/blob/cb6efe091ea1b8fd83a65737cbb18fa4ba4d8eb1/amm/runtime/src/main/scala/ammonite/runtime/tools/DependencyThing.scala#L104).

[2017-05-10 03:27] yyadavalli opened #336 "Error with Java Flags"
I believe the java and server version are transposed here
https://github.com/ensime/ensime-sbt/blob/2.0/src/main/scala/EnsimePlugin.scala#L621

@fommil please confirm I will send a PR

[2017-05-10 03:30] #336 closed, assigned to nobody

[2017-05-10 03:31] yyadavalli commented on #336
I miss read the matching

[2017-05-10 05:39] bomgar commented on #334
@alexarchambault the code that breaks doesn't use coursier directly. The standard sbt API returns something else when the coursier plugin is active.
[code]
Or am I getting this wrong?

[2017-05-16 19:26] #334 closed, assigned to nobody

[2017-05-22 14:33] hedefalk opened #339 "Fix scalac-options/compiler-options"
Sam, really sorry with all these questions, but what key am I to put the settings under:
With a ensime.sbt in project:

[code]

I still get the default:

[code]

And for all subprojects:

[code]

Removing in ThisBuild I get compiler-args fixed, but not scalac-options under the subprojects… I'm confused…

Sam Halliday @fommil 16:22

Viktor Hedefalk @hedefalk 16:24
Sure!

Sam Halliday @fommil 16:24

[2017-05-24 15:03] yyadavalli commented on #339
@hedefalk can you please try setting `scalacOptions`

https://github.com/ensime/ensime-sbt/blob/2.0/src/main/scala/EnsimePlugin.scala#L202

`ensimeScalacOptions` is a task that aggregates multiple sets of options, it is not a settingKey, may be we should add one or modify this, but I think that's a slightly different discussion.

I also think we want to maintain the same set of `scalacOptions` tha

[2017-05-26 05:33] fommil opened #340 "need .asc filter in the ensimeConfigProject"

[2017-06-02 09:04] dragos opened #341 "NoSuchMethodError in EnsimeCoursierPlugin"
I am trying to use Ensime on https://github.com/softwaremill/scala-clippy. I'm using "sbt-ensime" % "1.12.12", and I get this on startup:

[code]

[2017-06-02 09:15] dragos commented on #341
Closing this, it turns out to be a case of PEBKAC. Works after deleting `~/.sbt/0.13/plugins/target`

[2017-06-02 09:15] #341 closed, assigned to nobody

[2017-06-02 15:28] fommil commented on #341
argh, I thought all those kinds of sbt issues were long gone. Apparently not.

[2017-06-05 02:25] peterbecich commented on #276
This was solved for me by updating sbt-ensime from 1.12.0 to 1.12.12

[2017-06-06 16:11] mindloaf opened #342 "Deploy sbt-ensime to Bintray?"
For users that use Artifactory to cache repo1, the sbt-ensime fails to cache properly (and is thus not usable) due to:

https://www.jfrog.com/jira/browse/RTFACT-6235

Please consider adding your plugin to [Bintray](http://www.scala-sbt.org/0.13/docs/Bintray-For-Plugins.html)

[2017-06-06 17:57] fommil commented on #342
nope, maven central for the win.

[2017-06-06 17:57] #342 closed, assigned to nobody

[2017-06-06 18:05] mindloaf commented on #342
Thanks for considering

[2017-06-06 18:06] fommil commented on #342
you can publish locally as a workaround.

[2017-06-06 18:08] mindloaf commented on #342
Heh, or Jfrog can, you know, actually fix the bug :-)

[2017-06-06 18:09] fommil commented on #342
you'd think they'd care about paying users

[2017-06-19 11:06] fommil opened #343 "test projects should depend on their compile phase"
damn, causes https://github.com/ensime/ensime-server/issues/1805

[2017-06-19 11:10] fommil commented on #343
@yyadavalli I somehow missed this, even in our simple tests it's like this

[code]

[2017-06-19 11:59] yyadavalli commented on #343
@fommil I will take a look

[2017-06-19 12:19] fommil commented on #343
that'd be awesome, thanks! I am a bit busy in the next few days.

[2017-06-21 22:11] fommil commented on #330
this looks pretty trivial, I'll have a bash at it...

[2017-06-21 22:15] fommil commented on #330
oh god, that took me 30 seconds... but we should really have a test

[2017-06-21 22:31] #330 closed, assigned to nobody

[2017-06-21 22:31] #339 closed, assigned to nobody

[2017-06-21 22:31] #340 closed, assigned to nobody

[2017-06-21 22:31] #343 closed, assigned to nobody

[2017-07-02 00:49] tlegutko commented on #276
I had similar error, as in issue name, but deleting sbt / coursier cache was of no help.

What worked for me was to also update `sbt-ensime`, but also to create `ensime.sbt` file in project root manually specyfing current ensime server version:
[code]
Relevant info is described here in docs: http://ensime.org/build_tools/sbt/#customise.

Hope it helps if somebody stumbles upon it!

[2017-07-04 10:29] fommil opened #346 "still depending on scalaz"
the shading was supposed to have fixed this, but it didn't.  // reported by @puffnfresh on twitter

[2017-07-04 10:31] fommil commented on #346
here's the evidence https://repo1.maven.org/maven2/org/ensime/sbt-ensime_2.10_0.13/1.12.13/sbt-ensime-1.12.13.pom

as a workaround, I think you can do this

[code]

@alexarchambault may know more... is this a bug in coursier-shading or did I do it wrong?

[2017-07-04 10:40] puffnfresh commented on #346
Thanks @fommil, I couldn't figure out the syntax.

I just `ensimeCompileOnly`  a go I get a lot of errors, then it spends a lot of time going through files and printing "Could not access type X in package Y, because it (or its dependencies) are missing" for each one. That seems like a separate issue that I should file, but the exclusion seems to be working.

:+1:

[2017-07-04 10:45] fommil commented on #346
I think that's probably working as intended... you need to compile your project just once before using it. It's just calling `scalac` with all the correct flags that you'd expect, it's an advanced user convenience.

I had a project where an incremental recompile would take 10 minutes and I didn't really care what I broke downstream I just wanted to see the compile failures in my file (1 second com

[2017-07-04 10:56] puffnfresh commented on #346
I've compiled the whole project before with sbt, do I have to also compile it outside of sbt?

[2017-07-04 11:08] fommil commented on #346
nope, that should work. If you have a public project that reproduces the errors, then that might be a bug.

[2017-07-04 11:08] fommil commented on #346
oh, don't forget your project path if it's a multi-project build! `foo/ensimeCompileOnly /path/to/foo.scala`

[2017-07-04 11:09] fommil commented on #346
more here http://ensime.org/build_tools/sbt/#extra-tasks-and-commands

[2017-07-12 13:38] ixxie opened #347 "SLF4J Dependency not mentioned in the ensime.org instructions"
It seems a SLF4J dependency is not mentioned in the documentation; I had the following error:

    [error] SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
    [error] SLF4J: Defaulting to no-operation (NOP) logger implementation
    [error] SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further details.

which was resolved by adding `libraryDependencies += "org.

[2017-07-12 14:48] fommil commented on #347
we don't use slf4j, so it is likely that we are calling some task in your project that has this dependency.

[2017-07-12 14:48] #347 closed, assigned to nobody

[2017-08-06 16:15] alexarchambault commented on #346
@fommil When I publish locally ensime-sbt (I tested with sbt-coursier 1.0.0-RC8), I can't find scalaz in the dependencies of the plugin.

[2017-08-06 17:24] fommil commented on #346
interesting, maybe I should just upgrade to RC8?

[2017-08-06 17:25] fommil commented on #346
are you looking in the `.pom` **and** the `.ivy`?

[2017-08-06 17:52] alexarchambault commented on #346
Yeah, both.

[2017-08-06 18:00] fommil commented on #346
ok, I'll try too with your latest. Thanks for looking into it!

[2017-08-06 18:03] fommil commented on #346
argh

[code]

[2017-08-06 18:06] fommil commented on #346
maybe it's time for our sbt plugin to build on java 8...

[2017-08-06 18:10] fommil commented on #346
but, I also don't see scalaz in the current `2.0` branch on `publishLocal`... is it possible this is a bug only in `publishSigned` usage?

[2017-08-06 18:14] fommil commented on #346
I'm not able to reproduce with `publishLocalSigned`. What a mystery

[2017-08-06 18:35] fommil commented on #346
I think I may have accidentally fixed this since the last release.

[2017-08-06 19:12] alexarchambault commented on #346
Cool, then 😅

[2017-08-06 20:14] #346 closed, assigned to nobody

[2017-08-08 19:14] jvican opened #350 "The sbt plugin assumes that scala versions are publicly available"
### Steps to reproduce

1. Use a scala version that you use locally and it's not published (a fork).
2. Run `ensimeConfig`.

### Expected behaviour
It generates an ensime config file.

### Actual behaviour
It fails with:
[code]

### Workaround
**None**. Note that it's not possible to modify `ensimeRepositoryUrls` to include the ivy cache because `CoursierHelper` assumes that the urls are maven rep

[2017-08-08 19:19] fommil commented on #350
- corructed local ivy caches directories are probably the single most common cause of server start errors. We definitely don't want it there by default.
- we could make the ensimeResolvers a public key (if it's not already) or make it handle more types of repos?

[2017-08-08 19:20] fommil commented on #350
btw, another workaround is to just force the ensimeServerVersion to 2.12.3 for this project with `ensime.sbt` (that's what I'd do...)

[2017-08-08 19:23] jvican commented on #350
1. The corruption error would only affect ``"The maven repositories to download the scala compiler, ensime-server and ensime-plugins jars", right?
2. It's not public, making `ensimeResolvers` public would probably be the best, yeah.

WRT your workaround, if I do that, I won't be able to get go to definition for things I add in my local fork, right? So I'll need to do that + replacing manually inst

[2017-08-08 19:27] fommil commented on #350
Yeah making it public could be good. It might even make sense to not have the sonatype snapshots in the defaults, and instead make that opt-in, for extra faster startups on "stable" releases.

Your project should be fine. Remember this is the version of scala that the server is running on, it's got nothing to do with the project it is running against.

That said... if you're working on adding time

[2017-08-08 19:29] jvican commented on #350
Aha, great! It wasn't clear to me.

I'm adding fixing this ticket to my todo list, will try to get back to it soon!

[2017-08-08 19:31] fommil commented on #350
should be an easy one. I'd be happy with you removing snapshots from the default list in light of #349

[2017-08-09 07:11] #333 closed, assigned to nobody

[2017-08-10 16:37] fommil opened #351 "add flat build file folders to the .ensime format"
https://github.com/ensime/ensime-server/issues/1600

[2017-08-15 09:41] fommil commented on #237
I am ok with removing `ensime-server` from the test suite. Although it is exercising some things that need a separate test (from memory, there may be more)

- [x] unusual inter-test dependencies (`it` depending on a `test`)
- [x] user-provided source zips

[2017-08-17 09:38] fommil opened #352 "ensimeJavaFlags is repeating"
If I use `ensimeJavaFlags in ThisBuild` it gets repeated once per project. We should only reference this once, it's top level.

[2017-08-17 18:12] yyadavalli commented on #352
Hi @fommil I am not sure how this is possible. I just checked the code and it is referenced only in the top level `EnsimeConfig`. Can you please post a gist with a `.ensime` with the issue.

[2017-08-17 19:07] fommil commented on #352
I'll just send a PR with a fix when I'm next around here.

[2017-08-22 12:44] fommil commented on #237
https://github.com/dwijnand/sbt-compat

[2017-08-25 08:36] fommil opened #353 "ensimeUnmanagedSourceArchives should be a Task"
Everything should be a `Task` really because it stinks if we need to depend on something that is a `Task`.

e.g. legit usecase for intellij-scala

[code]

but RHS is a Task...

[2017-08-25 08:43] fommil opened #354 "share settings with scala-ide and intellij"
we should depend on this or copy/pasta the settings: https://github.com/JetBrains/sbt-ide-settings

Probably need https://github.com/JetBrains/sbt-ide-settings/issues/5 to be done before it is useful though.

[2017-08-27 10:18] #353 closed, assigned to nobody

[2017-09-07 05:52] fommil opened #357 "support appURL"
we could add this information to the `.ensime` http://www.scala-sbt.org/0.13/docs/Howto-Scaladoc.html#Define+the+location+of+API+documentation+for+a+library

[2017-09-13 08:01] juiceo commented on #304
@fommil after installing sbt with homebrew, I have no such directory as `~/.sbt/0.13/plugins` with a file called plugins.sbt. I tried creating that directory and file, but still get a resolution error when running `sbt`.

[code]

[2017-09-13 08:48] fommil commented on #304
sbt 1.0. This is documented in that section.

[2017-09-13 09:50] juiceo commented on #304
@fommil you do realise that if the documentation gave me the answers I needed, I would not be asking you here. Seeing as you are taking the time to answer these questions, the very least you could do is link to the relevant section in the docs, so that I know I am not missing anything. Frankly, your attitude towards answering this and other questions is arrogant, and I will be moving on to another

[2017-09-13 10:05] jozanek commented on #304
Hi @lappalj4, sbt 1.0 is not supported yet. Quoting from docs: `If it says unresolved dependency or command not found then ensure that the sbt version in project/build.properties is 0.13.16 until sbt 1.0 support is added.`
You are right that @fommil is not explicit and expects users to dig a bit (read docs properly as he spent a lot of time writing it), but you will get use to it after some time :

[2017-09-13 11:00] fommil commented on #304
@lappalj4 You didn't read the docs properly, nor did you follow the troubleshooting guide. I gave you a nudge to go read them, and a hint about what was wrong (sbt 1.0). Refusing to follow these steps will not get you any help around here.

I don't want to have to interact with entitled users like you, and I don't want you hassling the good people around here who are contributing (in whatever capa

[2017-09-13 11:05] fommil commented on #304
@jozi-k it's ok, the sponsored developer is currently working on sbt 1.0 support :wink: I don't know how long it will take, but I am looking forward to it.

[2017-09-14 18:19] jrd-rocks commented on #304
For better or worse ensime is one of scala's saving graces. When using advanced/fancy scala intellij completely borks. So there are quite a few people that depend o ensime to get ide like features. Not having sbt 1 support (whether ensime or sbt is to blame) is a pretty big blocker to upgrading to sbt 1. (imho, the real underlying problem is sbt's rather harsh upgrade/downgrade path).

Telling you

[2017-09-14 19:12] fommil commented on #304
@jrd-rocks being demanding of a contributors time, and not reading the documentation, is explicitly against our [Code of Conduct](http://ensime.org/conduct/).

The reason why we take this so seriously is because there is an illusion that contributors are there to make the life of the non-paying "user" much better. The truth of the matter is that we have to put up with excessive demands on our time

[2017-09-14 19:33] fommil commented on #304
I'm locking this thread because I honestly don't care about explaining this any further. Either you get it, or you don't. And if you don't get it by now, then you probably never will.

[2017-09-14 19:33] #304 closed, assigned to nobody

[2017-09-15 13:19] fommil commented on #304
@jrd-rocks @lappalj4 heh, maybe one of you would like to apply for this position: http://ensime.org/maintainer/ you really sound like you know what you're talking about.

[2017-09-15 13:32] #229 closed, assigned to nobody

[2017-09-15 13:33] #228 closed, assigned to nobody

[2017-09-17 07:48] fommil opened #359 "Skip over scalajs and scala-native project variants"
They both use a massive hack that mutates the name of your project the somethingJvm and adds new ones. We should probably ignore the non-JVM variants.

[2017-09-17 07:48] fommil commented on #359
Workaround for now is to restrict ensimeConfig to the subset of jvm projects manually.

[2017-09-17 11:14] joroKr21 commented on #359
It runs update on all projects regardless of the passed list and fails if there are unresolved dependencies (in the case of shapeless unresolved Scala native libs). Instead it should probably run update only on the restricted subset.

[2017-09-17 11:16] fommil commented on #359
it does work for restricted projects. The problem is that scalajs and scala-native are massive hacks, so we probably need further hacks.

[2017-09-24 09:44] fommil opened #362 "feature flag the legacy parts of the .ensime file"
it would be good to try to move people away from the legacy parts by giving a flag (possibly false by default) to enable the legacy parts.

[2017-09-24 16:58] #237 closed, assigned to nobody

[2017-09-24 17:33] fommil commented on #350
is this solved with something like

[code]

but with your repo in the list?

Whatever you put in here must be parsable by `coursier.MavenRepository`

[2017-09-24 17:52] #362 closed, assigned to nobody

[2017-09-24 17:54] fommil opened #364 "enable coursier/scalaz shading"
blocked on https://github.com/coursier/coursier/issues/666

[2017-09-24 17:54] fommil opened #365 "get all tasks working under sbt 1.0"
@vovapolu do you have an upstream ticket for this?

[2017-09-24 18:21] jvican commented on #350
I haven't tried, but the Scala version is from a local fork, and `publishLocal`ed, so if you can specify a local repository to `ensimeRepositoryUrls` should work.

[2017-09-24 18:25] fommil commented on #350
yup, that's what it's for. You might need to do something to convert the ivy repo into a maven repo layout, or publish as maven too.

[2017-09-24 18:25] #350 closed, assigned to nobody

[2017-09-24 19:16] #364 closed, assigned to nobody

[2017-09-25 09:16] akreuzer opened #367 "sbt-ensime 2.0.1 does not work with JDK9"
### Steps to reproduce

1. Install JDK9
2. Create an sbt project and add the sbt-ensime plugin
3. Run sbt

### Expected behaviour

sbt works

### Actual behaviour

[code]

Apparently the search for `tools.jar` is hardwired in `ensime-sbt/src/main/scala/EnsimePlugin.scala`.
However, `tools.jar` has been removed in JDK9, see [JDK9 migration guide](https://docs.oracle.com/javase/9/migrate/toc.htm#JSM

[2017-09-26 21:46] fommil commented on #359
@jvican that hack I was talking about ^^^

[2017-09-27 07:49] fommil commented on #367
there is also some logic in the server to search for jars under the `:jdk-home` and index them, and an assumption about where the `src.zip` lives, so Java 9 support will require work in multiple places.

I am unlikely to use Java 9 for some time, my advise is to work out what flags are needed to start Java 9 with the equivalent of `tools.jar` on the classpath and then do that: the server can be fi

[2017-09-27 19:26] smarter commented on #367
@retronym wrote a tool to recreate rt.jar for Java 9, don't know if it could also work for tools.jar: https://github.com/retronym/java9-rt-export

[2017-10-01 08:27] strobe opened #369 "ensime-sbt 2.0.1 - dependence conflict (compat) with sbt-revolver"
I found dependence conflict with ensime-sbt 2.0.1 and sbt-revolver 0.9.0.
`package sbt contains object and package with same name: compat`

(also seems ﻿ensime-sbt 1.12.15 doesn't has this issue)

### Steps to reproduce

Project that may help to reproduce https://github.com/strobe/sbt-ensime2.0.1-revolver-compat-issue

1.  add addSbtPlugin("org.ensime" % "sbt-ensime" % "2.0.1") to ~/.sbt/0.13/plug

[2017-10-01 12:20] MasseGuillaume commented on #237
It's now available: http://repo1.maven.org/maven2/org/ensime/sbt-ensime_2.12_1.0/

`addSbtPlugin("org.ensime" % "sbt-ensime" % "2.0.1")`

[2017-10-02 15:18] strobe commented on #369
looks like it happen after 073a7a3b9a070896e66cbb7da10d9afca01d9693 (sbt-compat)

[2017-10-03 02:37] strobe commented on #369
user workaround for this - add to project/plugins.sbt
```scalacOptions in ThisBuild ++= List("-Yresolve-term-conflict:package")```

[2017-10-09 17:01] korommatyi opened #370 "Missing dependencies added to depenencyClasspath"
Hi,

I need to manually add some jars to the classpath in the `build.sbt` like:

[code]
These dependencies are missing in the `.ensime` file generated by the ensime plugin. (I guess, I should be able to find them under the `:compile-deps` key.)

### Steps to reproduce

1. Add a jar to the `dependencyClasspath` manually in the `build.sbt` file.
2. Generate `.ensime` file by the sbt plugin.

### Exp

[2017-10-11 00:38] magnusart opened #371 "Jiline dep jettison unresolvable"
### Steps to reproduce

1. Sbt 0.3.16
2. ensime plugin
3. sbt ensimeConfig

### Expected behaviour
The task should setup the build for ensime

### Actual behaviour
Fails with error:
[code]
Accessing the URL directly in my browser seems to give a proper response. Error 416 would suggest that the request is invalid?

[2017-10-11 14:20] yyadavalli commented on #371
Need more information.

sbt-ensime version
A small project reproducing the issue

[2017-10-13 20:50] magnusart commented on #371
I've evolved the project and moved away from this particular setup but I'll give it a go in a few days to see if I can get a project setup.

[2017-10-16 20:29] avdv commented on #367
Hi.

I just had a look into this issue. FWIW, trying to start SBT in ensime-server, fails at `SensiblePlugin.scala` line 24:

[code]
which happens because the value of the system property `java.version` simply is "9" for Java 9.
[code]

[2017-10-23 22:43] ANorwell opened #372 "Project with integration tests does not respect test multi-project dependencies"
This is as of ensime-sbt 2.0.1.

I have made a repro repo of this issue: https://github.com/ANorwell/ensime_bug.

This has a multi-project build. One of the projects declares a dependency on the tests of the first project. Additionally, the project includes integration test configuration. The resulting generated ensime file doesn't properly include the test dependency. Removing the integration tes

[2017-10-24 19:36] yyadavalli commented on #371
Closing till we get a reproduction

[2017-10-24 19:36] #371 closed, assigned to nobody

[2017-10-24 19:39] yyadavalli commented on #370
@korommatyi Can you please create a minimal reproduction for this?
I am not sure what `sparkJars(...)` is adding, so I cant reproduce this.

[2017-10-25 05:43] goungoun commented on #107
sbt reload plugins might resolve this issue.

$ sbt

[2017-10-25 16:52] korommatyi commented on #370
@yyadavalli Sure, here it is: https://github.com/korommatyi/ensime-sbt-bug
Thanks for checking this out!

[2017-10-25 18:36] yyadavalli commented on #370
Part of the problem is adding the dependencies manually

It is better to use the unmanaged dependencies
http://www.scala-sbt.org/0.13/docs/Library-Dependencies.html

We pick up the dependencies listed in `managedClasspath` and `unmanagedClasspath`.

`dependencyClasspath` is an aggregate that's calculated using the above and a few more things.

[2017-10-26 08:35] fommil commented on #365
could be https://github.com/sbt/sbt/issues/3572

[2017-10-26 09:14] korommatyi commented on #370
Thanks @yyadavalli, adding the extra jars to `unmanagedJars` instead of `dependencyClasspath` indeed solves the problem!

Out of curiosity, isn't it safer to just pick up `dependencyClasspath` as it is? Duplicating the calculation seems error prone to me (what if `sbt` changes something, then you need to duplicate the change here as well). Is there any special reason not to just blindly copy `depe

[2017-10-26 10:44] korommatyi commented on #370
Oh, I've learned why we add the jars to `dependencyClasspath`. We don't want them to be included in the build result but pick them up at runtime. Adding the jars to `unmanagedJars` copies them to `stage/lib`.

[2017-10-26 13:41] yyadavalli commented on #372
@ANorwell Just to clarify, even when you remove the integration test config, the `:depends` are still the same as above right?

[2017-10-26 13:53] ANorwell commented on #372
@yyadavalli Yes, that seems to be true. The diff to .ensime when I remove integration tests are below. It's also here on the reproduction repo: https://github.com/ANorwell/ensime_bug/compare/no_int

I'm not sure how that matches what I wrote when I wrote the issue, when I thought I was seeing the integration test config as required. That doesn't seem to be true.

[code]

[2017-10-26 15:02] yyadavalli commented on #372
The main issue was we were not handling multiple configurations like `test->test;compile->compile`. a workaround might be something like this
[code]

[2017-10-26 18:23] yyadavalli commented on #370
I think `depenencyClasspath` includes entries from `target` folders, that's the reason we use the individual components. I'll think about what we can do to resolved this.

[2017-10-27 11:49] fommil commented on #365
https://github.com/jeffreyolchovy/sbt-check possible inspiration for `ensimeCompileOnly`

[2017-10-27 11:51] fommil commented on #372
@ANorwell converting that example project into a PR that fails would be really awesome, and make it a lot easier for somebody to fix it. Have a look under `src/sbt-tests` for examples.

[2017-10-27 15:30] fommil commented on #372
oh, nevermind, I didn't see the PR already :smile:

[2017-10-31 11:11] iht opened #374 "Missing swanky jar in ensime-server-jars list in .ensime"
Hi,

I am having a problem trying to use the .ensime file generated by ensime-sbt, with Emacs, using the latest unstable version of the Emacs package, and ensime-sbt 2.0.1. I am using SBT 1.0.3, and Scala 2.12.4. I am working on macOS High Sierra.

The project to reproduce the problem is available at https://github.com/iht/fpinscala

The problem is that when I try to launch ensime in Emacs, it fai

[2017-10-31 13:14] yyadavalli commented on #374
I was unable to reproduce the issue, that jar was present in the `.ensime`, so try following the troubleshooting guide and let me know.
http://ensime.org/build_tools/sbt/#troubleshooting

[2017-10-31 14:25] fommil opened #376 "ensimeScalacOptions cannot be customised"
demonstration in #375

[2017-10-31 17:30] fommil commented on #372
I think we're still missing the case where the dep looks like `commontest % "test,it"`

[2017-10-31 17:42] yyadavalli commented on #372
Yes, it was not in the docs, I missed it. Will fix it soon.

[2017-10-31 18:00] fommil commented on #372
At least there is a simple workaround :smile:

[2017-10-31 18:04] yyadavalli commented on #372
Yes, just add the arrows

[2017-11-02 08:59] fommil opened #379 "ensimeSnapshot and ensimeRestore"
My work project is modest size but we have an ungodly number of dependencies that take forever to index, but I often nuke my cache, I was considering creating a task to snapshot and restore. Basically just the grunt work of copying `.ensime_cache` to a `.ensime_snapshot` and restoring it again. Should only be a couple of lines but would be a lovely addition to my workflow. Let's see if I get to it

[2017-11-03 10:10] iht commented on #374
I have just done that, with the minor exception that I removed the subdirs under ~/.sbt/1.0, as I am using sbt 1.0.3. I entirely removed the ~/.ivy2 directory. I am using also coursier to download dependencies. I wiped out my entire ~/.coursier directory. And the JAR was back in the .ensime config file :)

So it was probably some kind of problem with my .coursier cache (that's where the Ensime JAR

[2017-11-03 10:10] #374 closed, assigned to nobody

[2017-11-03 14:20] yyadavalli commented on #374
You can add those extra steps to the troubleshooting guide, it will help someone in the future.

[2017-11-03 14:27] yyadavalli commented on #370
@fommil Your thoughts on this, do you think we can use dependencyClasspath directly with some filtering, of course.

[2017-11-03 15:33] fommil commented on #370
this sounds like it is working as intended. ENSIME is for compiletime not runtime classes. It sounds like the build in question is hacking around ivy, which already has the concept of compile / provided / runtime deps. If such hacks are to be used, a second round of hacks is needed for things that don't expect hacks.

[2017-11-03 15:43] yyadavalli commented on #370
Yeah, it's hacky, the jars are manually put in place both at compile time and runtime. But sbt already works around that by providing a `dependencyClasspath` task. So if we use the same I think we should be okay. Also the filter I mentioned is to remove the project class files that get included in `dependencyClasspath`.

[2017-11-03 15:45] fommil commented on #370
calling `dependencyClasspath` will call compile on all dependent projects. Even if you filter them out afterwards.

[2017-11-03 15:57] yyadavalli commented on #370
Oh, `dependencyClasspath` is a build level task. That would mess up the project info a lot.
I agree what we have is prefect.

[2017-11-03 15:57] #370 closed, assigned to nobody

[2017-11-04 13:27] strobe commented on #369
fixed by "sbt-revolver" "0.9.1"

[2017-11-04 13:27] #369 closed, assigned to nobody

[2017-11-05 03:26] sarahgerweck commented on #367
I'm also running into this. There's still a bit more to be done in other places, but Scala has reasonably good support for Java 9 now. Having the Ensime plugin loaded at all causes SBT to blow up on launch, even if you're not trying to run any Ensime-related tasks.

[2017-11-05 04:11] yyadavalli commented on #367
It is actually relatively easy to fix the plugin. But the bigger issue is the missing tools.jar, the server makes use of in mutiple places and cannot function without it. So even if you are able to use this plugin and create the `.ensime` file, we cannot run the server.

@sarahgerweck I see your point in not blowing up sbt, the amount of work needed is low. The check for tools.jar need to be remov

[2017-11-05 04:15] sarahgerweck commented on #367
@yyadavalli I'll see if I can give it a shot. I think deferring any errors until you run an Ensime-related task would be a significant improvement, even if it doesn't fix the real issues.

[2017-11-05 04:26] yyadavalli commented on #367
@sarahgerweck Awesome, thanks. That's a good idea. I am not sure how to accomplish that given sbt's init structure. May be converting it to a task would delay running till needed, I mean the setting in question `ensimeJavaHome`.

[2017-11-06 13:10] avdv commented on #367
Ditch that, my memory failed me here. That's only a problem in ensime-server...

[2017-11-06 13:22] avdv commented on #367
@sarahgerweck before you look into this more deeply, I had already made some first changes which might be helpful / avoid duplicate work. I have created a PR for you to look at, see #383

[2017-11-06 13:44] yyadavalli commented on #367
@avdv If you need the sources for sbt-sensible they are here https://gitlab.com/fommil/sbt-sensible @fommil should be open to a PR.

[2017-11-06 13:44] #372 closed, assigned to nobody

[2017-11-06 14:52] iht commented on #374
Done: https://github.com/ensime/ensime.github.io/pull/256

Thanks for the suggestion!

[2017-11-06 15:56] strobe opened #384 "usage of ensimeRepositoryUrls key at global.sbt for snapshots repo doesn't work"
this issue result of https://github.com/ensime/ensime-sbt/pull/382

### Steps to reproduce

1. put following code to ~/.sbt/0.13/global.sbt
[code]
2. try to run `sbt ensimeConfig` at some project

### Expected behaviour

generated ensimeConfig with dev version of ensimeServerJars

### Actual behaviour

[code]

### For other details see  https://github.com/ensime/ensime-sbt/pull/382

[2017-11-06 16:17] fommil commented on #367
this has not got anything to do with sbt-sensible. Also, the issue is about running ensime on java 9, not building ensime on java 9 (and I can guarantee you that this is the least of your troubles in that case)

[2017-11-06 16:18] fommil commented on #384
probably the docs are missing an `in ThisBuild`

[2017-11-06 16:36] avdv commented on #367
Thanks! I just did open https://gitlab.com/fommil/sbt-sensible/merge_requests/17

[2017-11-06 16:40] yyadavalli commented on #367
@fommil I think there is an issue with how the java flags are set here
https://gitlab.com/fommil/sbt-sensible/blob/master/src/main/scala/SensiblePlugin.scala#L24

The substring errors out when loading sbt.

[2017-11-06 16:48] #376 closed, assigned to nobody

[2017-11-06 17:17] strobe commented on #384
you are right,
 fix here https://github.com/ensime/ensime.github.io/pull/257

[2017-11-06 17:17] #384 closed, assigned to nobody

[2017-11-06 17:17] fommil commented on #367
@avdv thanks! But if you're trying to build ensime-sbt or ensime-server with java 9 it means you haven't set up `jenv` correctly. http://ensime.org/learning_scala/

[2017-11-06 21:27] avdv commented on #367
That was by intention, really. I wanted to experiment with some things and try to get an idea what would be needed to get Java 9 support to ensime.

[2017-11-06 21:44] fommil commented on #367
ah! Cool, well I'll try to make an sbt-sensible release soon then. But you'll have a few other things to do to upgrade it.

[2017-11-07 22:22] #379 closed, assigned to nobody

[2017-11-09 13:52] yyadavalli commented on #365
@fommil I don't think it's a lot of help for `ensimeCompileOnly`. It's just adding the scalac option `-Ystop-after:typer` in that task.

https://github.com/jeffreyolchovy/sbt-check/blob/master/src/main/scala/sbtcheck/AbstractCheckPlugin.scala#L22

I think we need to look at the zinc API, to compile a file.

[2017-12-13 20:19] vovapolu commented on #365
@yyadavalli `testOnly` is unfinished! So I doubt that issue is resolved.

[2017-12-13 20:20] yyadavalli commented on #365
Sorry I forgot about that

[2018-01-06 09:02] uqix opened #386 "Only add ensimeSuggestedScalacOptions when scalacOptions is not set by user"
Sometimes those options added by ensimeSuggestedScalacOptions are just not what users want

[2018-01-11 22:22] drewboardman opened #387 "You have a different version of scala for ENSIME (2.10.6) and server (2.11.11)"
When running `sbt ensimeConfig` I am getting the following error

[code]

When I create an `ensime.sbt` with the line `ensimeScalaVersion in ThisBuild := "2.11.11"` I get the following error. The scala versions it claims for my app is incorrect. The version declared in `build.sbt` is 2.11.11. We do not use 2.10.6 anywhere in the project.

[code]
Now when I change `ensime.sbt` with the added line.